extends layout

append css
    link(href='/css/mobile/dashboard.css' rel='stylesheet')
    script(src='/plugin/socket.io/socketio.min.js' type='text/javascript')
    script(src="/javascript/mobile/dashboard.js")

append left
    .col-md-6.title.text-left.no-padding DASHBOARD

append right
    .col-md-6.title.text-right.no-padding
        img(src="/image/exit.png").exit-img

block content
    .row.col-12.text-center.dashboard-menu.no-gutters
        .col-md-6.monitoring(onclick="location.href='/m/dashboard'") Monitoring
        .col-md-6.service-control(onclick="location.href='/m/control'") Service Control
    .row.col-12.lane.no-padding
        .col-md-6.left-lane.no-padding
        .col-md-6.right-lane.no-padding
    .col-md-12.dashboard-content
        .row.no-gutters
            .col-md-6
                .dashboard-card.temp
                    .dashboard-card-title Temperature / Humidity
                    //.dashboard-card-location
                        .dashboard-no-location
                    .dashboard-card-value
                        span#temperatureValue
                        span &nbsp;/&nbsp;
                        span#humidityValue
            .col-md-6
                .dashboard-card.lumi
                    .dashboard-card-title Luminance
                    //.dashboard-card-location 안방 001
                        .dashboard-no-location
                    .dashboard-card-value#luxValue 100
        .row.no-gutters
            .col-md-6
                .dashboard-card.home-security
                    .dashboard-card-title Home Security
                    .col-md-12.center-hr
                    .dashboard-card-location kitchen
                    .dashboard-card-value
                        .row.window
                            .name Window
                            .value#legacyWindow Opened
                        .row.human
                            .name Human
                            .value#legacyHuman Detected
                    .col-md-12.center-hr
                    .dashboard-card-location Living
                    .dashboard-card-value
                        .row.window
                            .name Window
                            .value#xiaomiWindow Opened
                        .row.human
                            .name Human
                            .value#xiaomiHuman Detected
            .col-md-6
                .dashboard-card.ip-camera(onclick="location.href='/m/ipcamera'")
                    .dashboard-card-title IP Camera
                    .dashboard-card-location 거실 001
                .dashboard-card.gas-management
                    .dashboard-card-title Gas Management
                    .dashboard-card-location &nbsp
                    .dashboard-card-value
                        .row.window
                            .dash-name Leakage
                            .dash-value#gasDetector Detected
                        .row.human
                            .dash-name Gas Valve
                            .dash-value#gasBlocker Blocked