extends layout

append css
    link(href='/css/mobile/dashboard.css' rel='stylesheet')

append left
    .col-md-6.title.text-left.no-padding DASHBOARD

append right
    .col-md-6.title.text-right.no-padding
        img(src="/image/exit.png").exit-img

block content
    .row.col-12.text-center.dashboard-menu.no-gutters
        .col-md-6.monitoring Monitoring
        .col-md-6.service-control Service Control
    .row.col-12.lane.no-padding
        .col-md-6.left-lane.no-padding
        .col-md-6.right-lane.no-padding
    .col-md-12.dashboard-content
        .row.no-gutters
            .col-md-6
                .dashboard-card.temp
                    .dashboard-card-title Temperature / Humidity
                    .dashboard-card-location 안방 001
            .col-md-6
                .dashboard-card.lumi
                    .dashboard-card-title Luminance
                    .dashboard-card-location 안방 001

