extends layout

append css
    link(href='/css/mobile/gateway.css' rel='stylesheet')

append left
    .col-md-6.title.text-left.no-padding GATEWAY

append right
    .col-md-6.title.text-right.no-padding(onclick="location.href='/m'")
        img(src="/image/exit.png").exit-img

block content
    .row.select-list
        select.device-section
            option SORT BY Gateway Name
            option SORT BY Gateway Name
        .input-group
            span.input-img
                img(src="/image/glass.png")
            input(type="password").form-control
    .device-card
        .col-12.device-card-top
            .col-4.device-left
        .device-card-body
            .device-card-body-title Gateway_안방
            .row.device-card-body-content
                .content-title IP Address
                .content-ip 192.168.0.11
                .content-port PORT Address 3000
    .device-card
        .col-12.device-card-top
            .col-4.device-left
        .device-card-body
            .device-card-body-title Gateway_거실
            .row.device-card-body-content
                .content-title IP Address
                .content-ip 192.168.0.11
                .content-port PORT Address 3001