extends layout

append css
    link(href='/css/mobile/index.css' rel='stylesheet')
    script(src="/javascript/mobile/index.js")

append left
    .col-md-6.title.text-left.no-padding LOG IN

append right
    .col-md-6.title.text-right.no-padding E T R I

block content
    .login-body
        img(src="/image/SIoTLogo.png").logo-img
        .logo-body-title Secure Smart Space
        .logo-body-subtitle
            img(src="/image/etriLogo.png" style="width:50%;height:50%;")
        //.logo-body-subtitle ETRI SECURE GATEWAY SOLUTION
    .login-foot
        .input-group
            .input-img.user-img
                //img(src="/image/user.png")
            input(placeholder="Username").form-control.id
        .input-group
            .input-img.pass-img
                //img(src="/image/pass.png")
            input(type="password" placeholder="Password").form-control.pw
        button.confirm-btn CONFIRM
