doctype html


html(lang='en')
    head
        script(src="/plugin/jquery/dist/jquery.js")
        script(rel='javascript/text' src="/plugin/bootstrap/dist/js/bootstrap.js")
        link(rel='stylesheet' href="/plugin/bootstrap/dist/css/bootstrap.css")
        link(href='/css/mobile/layout.css' rel='stylesheet')
        link(href='/css/mobile/common.css' rel='stylesheet')
        block css
        title SecureHome
        script(src='/plugin/socket.io/socketio.min.js' type='text/javascript')

    body
        .col-md-12.top-.no-padding
            .top-bar
                .row.col-md-12
                    block left
                    block right
            .mobile-body
                block content
        .col-md-12.bottom-bar
            .row.text-center
                .dashboard(onclick="location.href='/m/dashboard'")
                    img(src="/image/dashboardWhite.png")
                    .name Dashboard
                .gateway(onclick="location.href='/m/gateway'")
                    img(src="/image/gatewayWhite.png")
                    .name Gateway
                .device(onclick="location.href='/m/devices'")
                    img(src="/image/shareWhite.png")
                    .name Device