#add-account-btn {
    width: 20%;
    /*max-width: 200px;*/
    min-width: 130px;
}

.table-frame tbody td {
    text-align: center;
}

td > button {
    font-size: 11pt;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    font-weight: bolder;
    width: 80px;
    height: 30px;
}

.button_list button {
    float: right;
    outline: none;
    width: 100px;
    height: 35px;
    font-size: 13pt;
    font-weight: bolder;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-right: 0px;
}

.modify {
    background-color: #2f3742;
    color: white;
    margin-left: 10px;
}

.modal-body > div {
    font-weight: bolder;
    width: 100%;
    padding-bottom: 20px;
}

select {
    font-size: 13pt;
    width: 100%;
}

input {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    font-size: 11pt;
}

.modal-title {
    font-size: 25pt;
    font-weight: bolder;
}

.modal-header button{
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13pt;
}

#close, #confirm {
    width: 180px;
    font-weight: bolder;
    font-size: 16pt;
    border: 1px solid lightgray;
    border-radius: 5px;
    /*padding: 50px;*/
    padding-bottom: 6px;
    padding-top: 6px;
}

#confirm {
    color: white;
    background-color: #2f3742;
}

.modal-body, .modal-body > div {
    width: 100%;
}

.modal-body > div > .name {
    display: inline-block;
    width: 200px;
}

.modal-body > div > .value {
    font-weight: normal;
}

.modal-header > div > div {
    padding-top: 5px;
    font-size: 10pt;

}