.summary-card {
    max-width: 240px;
}

.summary-card img {
    max-width: 80px;
    max-height: 80px;
}

.card-registered-status {
    text-align: center;
    margin: auto;
    color: red;
}

.registered-number {
    font-size: 35px;
    margin: auto;
    font-weight: 700;
}

.registered-text {
    font-size: 16px;
    margin: auto;
}


.overview-card {
    max-width: 550px;
}

.overview-card img{
    max-width: 550px;
    margin: auto;
}

