.content-header {
    font-size: 17px;
}

.content-header p {
    font-weight: bold;
    margin-bottom: 5px;
}

.content-header select {
    width: 50%;
    margin-bottom: 15px;
}

.gateway-title {
    margin-left: 20px;
    margin-bottom: 20px;
}

.gateway-title img {
    max-width: 90px;
    max-height: 90px;
}

.gateway-name  {
    margin: auto auto auto 10px;
}

#add-btn {
    outline: 0;
    font-size: 13pt;
    background-color: #2f3742;
    color: white;
    border-radius: 7px;
    margin: auto;
}

.profile-card {
    max-width: 400px;
    margin-left: 20px;
}

.overview-card {
    max-width: 550px;
}

.summary-card img {
    max-width: 60px;
    max-height: 60px;
}


.card-device-title {
    font-size:14px;
    padding: 5px;
    margin-bottom: 5px;
}

.card-open-detail {
    margin: 10px auto;
}

.card-open-detail p {
    margin: auto;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
}

.card-device-status {
    margin: auto;
    font-size: 40px;
    /*text-align: end;*/
}

.card-frame {
    max-width: 240px;
}

#etri-light-value {
    color: #e2721f;;
}

#etri-temperature-value, #etri-humidity-value {
    color: #2d8dd6;
}


/*todo: error state check css*/
.error-state-text {
    color: red;
}
.error-state-bg {
    background: red;
}

.status-ok {
    color: #23a455;;
}

.card-section-title {
    margin: auto;
}

.card-section-title h4 {
    margin: 10px 15px;
}


/*.content_title {*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*background-color: #f85457;*/
    /*height: 50px;*/
    /*padding: 10px;*/
/*}*/


/*.content_title > img {*/
    /*float: left;*/
    /*width: 30px;*/
    /*height: 30px;*/
/*}*/

/*.content_body {*/
    /*padding: 15px;*/
/*}*/

/*select {*/
    /*font-size: 12pt;*/
    /*width: 430px;*/
/*}*/

/*.content_title > div {*/
    /*color: white;*/
    /*font-weight: bolder;*/
    /*font-size: 13pt;*/
    /*margin-top: 3px;*/
    /*margin-left: 45px;*/
/*}*/

/*.content_body_title {*/
    /*font-size: 20pt;*/
    /*font-weight: bolder;*/
/*}*/

/*.content_body_subtitle {*/
    /*font-size: 13pt;*/
    /*padding-bottom: 10px;*/
    /*border-bottom: 2px solid lightgray;*/
    /*margin-bottom: 25px;*/
/*}*/

/*.content_body_content > img {*/
    /*width: 115px;*/
    /*height: 65px;*/
/*}*/

/*.content_body_content {*/
    /*display: inline-block;*/
    /*width: 100%;*/
/*}*/

/*.content_body_content > img {*/
    /*float: left;*/
/*}*/

/*.body_title {*/
    /*float: left;*/
/*}*/

/*.title {*/
    /*font-size: 18pt;*/
    /*font-weight: bolder;*/
/*}*/

/*.title2 {*/
    /*font-weight: bolder;*/
    /*font-size: 13pt;*/
/*}*/

/*.add_sensor {*/
    /*outline: 0;*/
    /*margin-top: 25px;*/
    /*float: right;*/
    /*font-size: 13pt;*/
    /*padding: 5px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*background-color: #2f3742;*/
    /*color: white;*/
    /*border-radius: 7px;*/
    /*margin-right: 20px;*/
/*}*/

/*.content_body_card_list {*/
    /*margin-bottom: 40px;*/
/*}*/

/*.content_body_profile_card {*/
    /*float: left;*/
    /*margin: 15px;*/
    /*margin-bottom: 35px;*/
    /*width: 380px;*/
    /*height: 280px;*/
    /*box-shadow: 5px 5px 15px;*/
    /*margin-right: 10px;*/
    /*border-radius: 7px;*/
    /*border: 1px solid lightgray;*/
/*}*/

/*.content_body_card_title > span {*/
    /*padding-top: 10px;*/
    /*float: right;*/
    /*font-size: 10pt;*/
/*}*/

/*.profile_card_body > img {*/
    /*height: 200px;*/
    /*width: 490px;*/
/*}*/

/*.profile_body_vaule {*/
    /*width: 251.375px;*/
    /*font-size: 13pt;*/
    /*font-weight: bolder;*/
    /*float: left;*/

/*}*/

/*.content_body_card_title {*/
    /*padding: 8px;*/
    /*margin-left: 8px;*/
    /*margin-right: 8px;*/
    /*font-size: 17pt;*/
    /*font-weight: bolder;*/
    /*border-bottom: 2px solid lightgray;*/
/*}*/

/*.profile_body_title {*/
    /*float: left;*/
    /*font-size: 13pt;*/
    /*font-weight: bolder;*/
    /*width: 100px;*/
    /*color: #d72a42;*/

/*}*/

/*.profile_card_body {*/
    /*display: inline-block;*/
    /*margin-top: 10px;*/
    /*margin-left: 18px;*/
/*}*/

/*.content_body_profile_card2 {*/
    /*float: left;*/
    /*margin: 15px;*/
    /*margin-bottom: 35px;*/
    /*width: 530px;*/
    /*height: 280px;*/
    /*box-shadow: 5px 5px 15px;*/
    /*margin-right: 10px;*/
    /*border-radius: 7px;*/
    /*border: 1px solid lightgray;*/
/*}*/

/*.content_body_title > span {*/
    /*font-size: 14pt;*/
    /*margin-left: 20px;*/
/*}*/

/*.gas_leakage_sensors ,.xiaomi_power_control_sensors, .xiaomi_intrusion_detection_sensors, .etri_Intrusion_detection_sensors , .environment_sensors {*/
    /*color: #d72a42;*/
    /*font-size: 14pt;*/
    /*font-weight: bolder;*/
    /*float: none;*/
/*}*/

/*.content_body_card_list2 {*/
    /*margin-bottom: 40px;*/
/*}*/

/*.content_body_card_title {*/
    /*padding: 8px;*/
    /*margin-left: 8px;*/
    /*margin-right: 8px;*/
    /*font-size: 17pt;*/
    /*font-weight: bolder;*/
    /*border-bottom: 2px solid lightgray;*/
/*}*/

/*.content_body_card_title > span {*/
    /*padding-top: 10px;*/
    /*float: right;*/
    /*font-size: 10pt;*/
/*}*/

/*.content_body_card_body {*/
    /*display: inline-block;*/

/*}*/

/*.content_body_card_body img {*/
    /*margin-top: 10px;*/
    /*margin-left: 15px;*/
    /*margin-bottom: 10px;*/
    /*float: left;*/
    /*width: 50px;*/
    /*height: 50px;*/
/*}*/

/*.cotent_body_card_body_value {*/
    /*display : inline-block;*/
    /*text-align: center;*/
    /*width: 150px;*/
    /*font-size: 38pt;*/
    /*font-weight: bolder;*/
    /*text-align: right;*/
    /*float: left;*/
    /*color: #d72a42;*/
/*}*/

/*.content_body_card_event {*/
    /*margin: auto;*/
    /*border-radius: 5px;*/
    /*text-align: center;*/
    /*color: white;*/
    /*font-weight: bolder;*/
    /*font-size: 13pt;*/
    /*width: 90%;*/
    /*background-color: #2f3742;*/
/*}*/

/*.content_body_card {*/
    /*float: left;*/
    /*box-shadow: 5px 5px 15px;*/
    /*margin-right: 10px;*/
    /*border-radius: 7px;*/
    /*border: 1px solid lightgray;*/
    /*width: 230px;*/
    /*height: 205px;*/
/*}*/

/*.connect_card_list {*/
    /*width: 100%;*/
    /*height: 240px;*/
/*}*/

/*.content_body_card_subtitle {*/
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    /*font-size: 10pt;*/
/*}*/

/*.content_body_card_details {*/
    /*!*width: 50%;*!*/
    /*!*margin-left: 35px;*!*/
    /*text-align: center;*/
    /*font-size: 11pt;*/
/*}*/

/*#idhs001, #idhs002 {*/
    /*padding-top: 10px;*/
    /*font-size: 30px;*/
/*}*/

/*#idhs002 {*/
    /*color: #23a455;*/
/*}*/

/*#idwc001 {*/
    /*padding-top: 10px;*/
    /*font-size: 30px;*/
/*}*/

/*#lm001 {*/
    /*padding-top: 10px;*/
    /*font-size: 21pt;*/
/*}*/

/*#lx001 {*/
    /*color: #e2721f;*/
/*}*/

/*#idw001, #idw002 {*/
    /*color: #23a455;*/
    /*padding-top: 10px;*/
    /*font-size: 30px;*/
/*}*/

/*#idw002 {*/
    /*font-size: 33pt;*/
    /*padding-top: 0px;*/
/*}*/

/*.value1, .value2 {*/
    /*width: 100%;*/
    /*font-size: 16pt;*/
/*}*/



/*!*토글 스위치*!*/

/*.switch {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*width: 69px;*/
    /*height: 18px;*/
    /*vertical-align:middle;*/
    /*margin-left: 10px;*/
    /*margin-bottom: 0;*/

/*}*/

/*!* Hide default HTML checkbox *!*/
/*.switch input {*/
    /*display:none;*/
/*}*/

/*!* The slider *!*/
/*.slider {*/
    /*position: absolute;*/
    /*cursor: pointer;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*background-color: #ccc;*/
    /*-webkit-transition: .4s;*/
    /*transition: .4s;*/
/*}*/

/*.slider:before {*/
    /*position: absolute;*/
    /*content: "";*/
    /*height: 14px;*/
    /*width: 38px;*/
    /*left: 2px;*/
    /*bottom: 2px;*/
    /*background-color: white;*/
    /*-webkit-transition: .4s;*/
    /*transition: .4s;*/
/*}*/

/*input:checked + .slider {*/
    /*background-color: #29c566;*/
/*}*/

/*input:focus + .slider {*/
    /*box-shadow: 0 0 1px #29c566;*/
/*}*/

/*input:checked + .slider:before {*/
    /*-webkit-transform: translateX(26px);*/
    /*-ms-transform: translateX(26px);*/
    /*transform: translateX(26px);*/
/*}*/

/*!* Rounded sliders *!*/
/*.slider.round {*/
    /*border-radius: 24px;*/
/*}*/

/*.value1 {*/
    /*margin-top: 10px;*/
    /*height: 20px;*/
/*}*/

/*.slider.round:before {*/
    /*border-radius: 8px;*/
/*}*/

/*.toggle > p {*/
    /*margin:0px;*/
    /*display:inline-block;*/
    /*font-size:15px;*/
    /*font-weight:bold;*/
/*}*/

/*.toggle {*/
    /*color: black;*/
/*}*/

/*#temp001, #hum001 {*/
    /*color: #2d8dd6;*/
/*}*/

/*.width_bar {*/
    /*width: 100%;*/
    /*height: 25px;*/
    /*background-color: darkgray;*/
/*}*/

/*table {*/
    /*width: 100%;*/
    /*border: 2px solid darkgray;*/
/*}*/

/*td {*/
    /*padding: 5px;*/
    /*height: 30px;*/
    /*font-size: 11pt;*/
    /*width: 25%;*/
    /*border: 1px solid darkgray;*/
/*}*/

/*thead > tr > td {*/
    /*font-weight: bolder;*/
    /*text-align: center;*/
    /*background-color: lightgray;*/
/*}*/

/*.log_title {*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*font-size: 18pt;*/
    /*font-weight: bolder;*/
/*}*/

/*.modal-title {*/
    /*font-size: 25pt;*/
    /*font-weight: bolder;*/
    /*!*width: 670px;*!*/
/*}*/

/*.modal-title div {*/
    /*width: 100%;*/
    /*font-size: 14pt;*/
/*}*/

/*.monitor_title {*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    /*color: #d72a42;*/
    /*font-size: 14pt;*/
    /*font-weight: bolder;*/
/*}*/


/*.name {*/
    /*display: inline-block;*/
    /*width: 150px;*/
    /*font-size: 10pt;*/
    /*font-weight: bolder;*/
    /*!*padding-right: 30px;*!*/
    /*margin-bottom: 7px;*/
/*}*/

/*.value {*/
    /*display: inline-block;*/
    /*font-size: 10pt;*/
    /*font-weight: bolder;*/
    /*width: 150px;*/
    /*margin-bottom: 7px;*/
/*}*/



/*.modal-dialog , .modal-content {*/
    /*width: 650px;*/
    /*margin: auto;*/
/*}*/

/*@media(min-width: 576px){*/
    /*.modal-dialog {*/
        /*max-width: none;*/
    /*}*/
/*}*/

/*.modal-header > div > button {*/
    /*border: 1px solid lightgray;*/
    /*border-radius: 4px;*/
    /*padding: 5px;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    /*margin-bottom: 5px;*/
    /*color: darkgray;*/
/*}*/

/*.modal-header > div > div {*/
    /*text-align: center;*/
    /*font-size: 10pt;*/
/*}*/

/*.toggle > p {*/
    /*width: 30px;*/
/*}*/

/*#close {*/
    /*background-color: #2f3742;*/
    /*color: white;*/
    /*font-size: 22pt;*/
    /*font-weight: bolder;*/
    /*width: 100%;*/
/*}*/

/*.camera {*/
    /*width: 100%;*/
    /*height: 300px;*/
/*}*/

/*.camera > img {*/
    /*width: 100%;*/
    /*height: 300px;*/
/*}*/

/*.modal-body > div , .modal-body input , .modal-body > div > div , .modal-body select{*/
    /*width: 100%;*/
    /*!*font-weight: bolder;*!*/
/*}*/

/*.modal-body input {*/
    /*border: 1px solid lightgray;*/
    /*border-radius: 6px;*/
    /*padding: 6px;*/
    /*outline: 0;*/
/*}*/

/*.modal-body select{*/
    /*font-size: 13pt;*/
/*}*/
/*.modal-body > div > div {*/
    /*margin-top: 5px;*/
/*}*/
/*.modal-body > div {*/
    /*margin-bottom: 10px;*/
    /*font-size: 13pt;*/
    /*font-weight: bolder;*/
/*}*/

/*.access_control_policy > div , .access_control_policy_target > div {*/
    /*display: inline-block;*/
/*}*/

/*.access_control_policy span , .access_control_policy_target span {*/
    /*float: left;*/
    /*margin-right: 16px;*/
/*}*/

/*.access_control_policy input , .access_control_policy_target input {*/
    /*!*font-size: 15pt;*!*/
    /*width: 15px;*/
    /*height: 25px;*/
/*}*/

/*.access_name {*/
    /*font-size: 12pt;*/
    /*width: 70px;*/
    /*!*margin-right: 20px;*!*/
/*}*/


/*input {*/
    /*!*outline: 0;*!*/
/*}*/



/*#value_1, #value_2 {*/
    /*float: left;*/
    /*font-size: 38pt;*/
    /*margin-bottom: 0px;*/
/*}*/

/*#value_1 {*/
    /*width: 88px;*/
/*}*/

/*#value_2 {*/
    /*width: auto;*/
/*}*/

/*#gaslc001 {*/
    /*font-size: 20pt;*/
/*}*/

/*#po002 {*/
    /*color: #23a455;*/
    /*padding-top: 10px;*/
    /*font-size: 25px;*/
/*}*/