.content-header {
    font-size: 17px;
}

.content-header p {
    font-weight: bold;
    margin-bottom: 5px;
}

.content-header select {
    width: 50%;
    margin-bottom: 15px;
}

.gateway-title {
    margin-left: 20px;
    margin-bottom: 20px;
}

.gateway-title img {
    max-width: 90px;
    max-height: 90px;
}

.gateway-name  {
    margin: auto auto auto 10px;
}

#add-btn {
    outline: 0;
    font-size: 13pt;
    background-color: #2f3742;
    color: white;
    border-radius: 7px;
    margin: auto;
}

.profile-card {
    max-width: 400px;
    margin-left: 20px;
}

.overview-card {
    max-width: 550px;
}

.summary-card img {
    max-width: 60px;
    max-height: 60px;
}


.card-device-title {
    font-size:14px;
    padding: 5px;
    margin-bottom: 5px;
}

.card-open-detail {
    margin: 10px auto;
}

.card-open-detail p {
    margin: auto;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
}

#collapse1 .card-device-status {
    margin: auto;
    font-size: 40px;
    /*text-align: end;*/
}

.card-device-status {
    margin: auto;
    font-size: 23px;
}

.with-switch p {
    margin: auto;
}

.summary-card {
    max-width: 240px;
}

#etri-light-value {
    color: #e2721f;;
}

#etri-temperature-value, #etri-humidity-value {
    color: #2d8dd6;
}

.card-body .card-img {
    max-width: 60px;
    max-height: 60px;
    min-height: 60px;
}


/*todo: error state check css*/
.error-state-text {
    color: red;
}
.error-state-bg {
    background: red;
}

.status-ok {
    color: #23a455;;
}

.card-collapse {
    margin: 20px auto;
}

.card-collapse h4 {
    margin: 10px 15px;
    color: red;
}

.card-collapse a card-collapse   {
    color: red;
    text-decoration: none;
}
.card-collapse a:link {
    color: red;
    text-decoration: none;
}

.card-collapse a:visited {
    color: red;
    text-decoration: none;
}

.card-collapse a:hover {
    color: red;
    text-decoration: none;
}