.layout-top-bar {
    background:rgb(51, 51, 51);
    min-height: 90px;
    padding: 0;
    color: rgb(255,255,255);
}

.title-logo-content {
    margin-left: 20px;
    margin-top:auto;
    margin-bottom: auto;
}

.title-logo {
    padding: 0;
}

.title-logo-img {
    max-width: 80px;
    max-height: 50px;
}

.title-user-info {
    padding: 0;
    margin: auto;
}


.user-img {
    max-width:45px;
    max-height:45px;
    margin: auto;
}

.content {
    padding: 0;
}

.menu-bar {
    background:rgb(51, 51, 51);
    min-height: 100px;
    color: rgb(255,255,255);
    width: 120px;
    max-width: 120px;
}

.menu-item {
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    padding: 10px;
}
.menu-img {
    max-width: 50px;
}

.menu-name {
    padding: 5px;
    margin: auto;
    text-align: center;
    font-size: 11px;
}

#logout-btn {
    outline: 0;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #2f3742;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 6px;
}

#user-role {
    font-size: 10pt;
}

.content-title > div > span {
    font-size: 14pt;
}

