/*.selected {*/
    /*background-color: #B0BED9 !important;*/
/*}*/


/*.col-12 .btn {*/
    /*float: right;*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    /*background-color: #3498db;*/
    /*border-color: #3498db;*/
    /**/
/*}*/
/*.page-link {*/
    /*color: #3498db;*/
/*}*/
/*.page-item.active .page-link {*/
    /*background-color: #3498db;*/
    /*border-color: #3498db;*/
/*}*/
/*.col-sm-12, .col-md-6 {*/
    /*padding-left: 0 !important;*/
    /*padding-right: 0 !important;*/
/*}*/

.radio-inline {
    margin-right: 10px;
}

#logTable {
    border-collapse: separate;
    border-spacing: 3px;
    text-align: center;
    line-height: 1.5;
}

#logTable th {
    padding: 10px;
    font-size: 11px;
}

#logTable td {
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #deceb2;
    font-size: 10px;
}

#logTable thead {
    background-color: #ebeff5;
    color: rgb(0,0,0);
}

#logTable tbody .selected {
    background-color: #fcf9f9;
}


#deployLogModal div .dataTables_paginate {
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}
#deployLogModal div .dataTables_paginate > .pagination {
    position: relative;
    left: 50%;
}

#logTable_previous, #logTable_next {
    text-align: center;
    width: 90px;
}