extends layout

append head
    link(rel="stylesheet" href="/css/new2/dashboard.css")

append title
    span.col-xl-2.content-title DASHBOARD

block content
    .content-head-2 Device Monitor
    .row.card-box
        .card.device-monitor.temp-humi
            .card-body
                .card-title
                    span.big-title T
                    span.small-title emperature / Humidity
                .card-text
                    div
                        span
                            img(src="/image/temperatureWhite.png").card-img
                        span 23%
                        span 그래프
                    div
                        span
                            img(src="/image/humidityWhite.png").card-img
                        span 50%
                        span 그래프
        .card.device-monitor.luminance
            .card-body
                .card-title
                    span.big-title L
                    span.small-title uminance
                .card-text.text-center
                    section.lumi.model-1
                        .graph
                            span 23
                            span ℃
        .card.device-monitor.home-security-1
            .card-body
                .card-title
                    span.big-title H
                    span.small-title ome security
                .card-text
                    div
                        span
                            img(src="/image/alarmWhite.png").card-img
                        span Siren
                        span Triggered
                    div
                        span
                            img(src="/image/window.png").card-img
                        span Window
                        span Opened
                    div
                        span
                            img(src="/image/human.png").card-img
                        span Human
                        span Detected
        .card.device-monitor.home-security-2
            .card-body
                .card-title
                    span.big-title H
                    span.small-title ome security
                .card-text
                    div
                        span
                            img(src="/image/alarmWhite.png").card-img
                        span Siren
                        span No event
                    div
                        span
                            img(src="/image/window.png").card-img
                        span Window
                        span No event
                    div
                        span
                            img(src="/image/human.png").card-img
                        span Human
                        span No event
        .card.device-monitor.ip-camera
            .card-body
                .card-title
                    span.big-title IP
                    span.small-title Camera
                .card-text
                    img(src="/image/maxresdefault.jpg").camera-img
        .card.device-monitor.gas-mgnmt
            .card-body
                .card-title
                    span.big-title G
                    span.small-title as mgmt
                .card-text
                    div
                        span
                            img(src="/image/alarmWhite.png").card-img
                        span Siren
                        span Triggered
                    div
                        span
                            img(src="/image/leakage.png").card-img
                        span Leakage
                        span Detected
                    div
                        span
                            img(src="/image/gasvalue.png").card-img
                        span Gas Value
                        span Blocked

    .content-head-2 Service / Device control
    .row.card-box
        .card.device-monitor.home-security-service
            .card-body
                .card-title
                    span.big-title H
                    span.small-title ome security service
                .card-text Some quick example
        .card.device-monitor.device-control-1
            .card-body
                .card-title
                    span.big-title D
                    span.small-title evice control
                .card-text Some quick example
        .card.device-monitor.device-control-2
            .card-body
                .card-title
                    span.big-title D
                    span.small-title evice control
                .card-text Some quick example
    .content-head-2 Service / Device Event
        table
            thead
                tr
                    td
                    td Event date
                    td Level
                    td Sensor type / number
                    td Activity message
            tbody
                tr
                    td 1
                    td 02-25-2018 18:00.31
                    td Log
                    td ETRI Humidity sensor / Hum001
                    td Humidity sensor is connected
                tr
                    td 2
                    td 02-25-2018 18:00.31
                    td Log
                    td ETRI Humidity sensor / Hum001
                    td Humidity sensor is disconnected
                tr
                    td 3
                    td 02-25-2018 18:00.31
                    td Log
                    td ETRI Intrusion detection alarm / IDA01
                    td Intrusion detection alarm mode is on
                tr
                    td 4
                    td 02-25-2018 18:00.31
                    td Critical
                    td ETRI Gas leakage alarm / GasLM001
                    td Gas leakage is detected
                tr
                    td 5
                    td 02-25-2018 18:00.31
                    td Critical
                    td XIAOMI power outlet / PO001
                    td power outlet is off
                tr
                    td 6
                    td 02-25-2018 18:00.31
                    td Critical
                    td ETRI Window sensor / IDW001
                    td Window sensor is disconnected

