doctype html5

html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' rel='stylesheet' integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        script(src='http://code.jquery.com/jquery-1.10.1.min.js')
        script(src="/plugin/jquery/dist/jquery.js")
        //script(src="/javascript/layout.js")
        link(rel="stylesheet" href="/css/new2/layout.css")
        title SecureHome
        block head
    body
        .container
            .row.col-12.title-bar
                .col-2.title-logo
                    img(src="/image/etriLogo.png")
                .col-7
                .row.col-3.text-left.login-bar
                    img(src="/image/login.png").login
                    div
                        .col-.auth Admin
                        .col-.name Hong Gildong
                    button.logout Log out
            .row.col-12.menu-bar
                .col-7.menu-logo
                    .row
                        img(src="/image/SIoTLogo.png")
                        div Secure Smart Space
                .col-5.text-right
                    .row.text-right.menu-text
                        div Dashboard
                        div Gateway
                        div Devices
                        div Security
                        div Account
                        div Logger
            .col-xl.content
                .row.col-12.content-head
                    .col-2
                        block title
                    .col-10.content-hr
                        hr
                block content





