.dashboard-menu {
    font-size: 2.5rem;
    font-weight: bolder;
    border-bottom: 1px solid black;
    margin: 0px;
    padding-bottom: 0.5rem;
}

.mobile-body {
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.lane {
    margin: 0px;
}

.left-lane {
    padding: 0px;
    background-color: rgb(0, 135, 135);
    height: 0.8rem;
}

.dashboard-card {
    height: 16.5rem;
    font-size: 2rem;
    /*font-weight: bolder;*/
    color: white;
    padding: 1.3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
}

.dashboard-card-title {
    font-weight: 990;
}

.temp {
    background-color: rgb(52, 152, 219);
}

.lumi {
    background-color: rgb(255, 153, 0);
}

.dashboard-content {
    padding: 1.5rem;
    padding-top: 2.5rem;
}

.dashboard-card-value {
    margin-top: 2rem;
    text-align: right;
    font-size: 4rem;
    font-weight: 990;
}

.dashboard-card.home-security {
    height: 39rem;
    background-color: rgb(255, 51, 102);
}

.dashboard-card.ip-camera {
    padding: 0px;
    background: black;
    background-image: url("/image/thumbnail.png");
    background-size: 28rem 20.5rem;
}

.dashboard-card.gas-management {
    color: rgb(255, 51, 102);
    border: 1px solid rgb(255, 51, 102);
}

.dashboard-card.gas-management, .dashboard-card.ip-camera {
    height: 18rem;
}

.ip-camera > .dashboard-card-title{
    float: left;
}
.ip-camera > .dashboard-card-location{
    float: right;
    text-align: right;
}
.ip-camera > .dashboard-card-title, .ip-camera > .dashboard-card-location {
    background: rgba(33, 33, 33, 0.5);
    border:1rem solid rgba(0, 0, 0, 0);
    width: 50%
}

/*.ip-camera > .dashboard-card-location {*/
    /*padding-top: 0px;*/
    /*padding-bottom: 1rem;*/
/*}*/

.dashboard-card-value > .row > div:nth-child(1) {
    padding-left: 1rem;
    font-size: 2rem;
    width: 12rem;
    text-align: left;
    margin-bottom: 1rem;
}

.dashboard-card-value > .row > div:nth-child(2) {
    padding-left: 1rem;
    font-size: 2rem;
    width: 14rem;
}

.center-hr {
    margin-top: 5.5rem;
    margin-bottom: 1rem;
    background: white;
    height: 0.5rem;
}
.center-hr:nth-child(2){
    margin-top: 0.5rem;
}
.dashboard-card-location {
    font-weight: 400;
}

.home-security > .dashboard-card-value , .gas-management > .dashboard-card-value {
    margin-top: 1rem;
    font-weight: 400;
}

/*여기가 스위치*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 10.2rem;
    height: 2rem;
    margin-top: 3px;
    margin-right: 18px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 4.05rem;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: rgb(46,204,113);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(46,204,113);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(92px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 16px;
}

/*스위치 끝*/

p {
    margin: 0px;
    height: 10px;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
}

.dashboard {
    background-color: rgba(33, 33, 33, 0.8);
}

/*.tempandhumi {*/
    /*text-align: right;*/
/*}*/