.device-card-body-title-right {
    background-color: rgb(255, 51, 102);
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.device-card-body-content {
    padding-left: 0.9rem;
}

.content-connect {
    width: 9rem;
}

.content-connect-value {
    width: 9rem;
}

.content-auth {
    width: 13rem;
}

.content-auth-value {
    width: 10rem;
}

.content-policy {
    width: 8rem;
}

.load-more {
    margin: 0.5rem;
    margin-left: 1rem;
    width: 96%;
    height: 4rem;
    background-color: rgb(0, 135, 135);
    font-size: 2.5rem;
    outline: 0px;
    border: 1px solid rgb(0, 135, 135);
    border-radius: 5px;
}

.GasDetector {
    background-color: rgb(243, 22, 77);
}
.GasBreaker {
    background-color: rgb(62, 156, 18);
}
.ThermoHygrometer {
    background-color: rgb(22, 156, 156);
}
.SmartLighting {
    background-color: rgb(243, 156, 18);
}
.IntrusionDetector {
    background-color: rgb(18, 156, 18);
}
.DoorSensor {
    background-color: rgb(18, 18, 18);
}
.SmartPlug {
    background-color: rgb(18, 18, 156);
}
.SmartCamera {
    background-color: rgb(182, 152, 219);
}

.device {
    background-color: rgba(33, 33, 33, 0.8);
}
.icon-on {
    color: rgb(0, 135, 135);
}
.fa-toggle-off, .fa-toggle-on, .fa-address-card {
    font-size: 2.6rem;
}