.go-back {
    background: lightgray;
    border-radius: 15px;
    height: 5rem;
    font-size: 2.2rem;
    width: 15rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.label- {
    padding: 0px;
    margin: 0px;
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.label-name {
    padding-left: 2rem;
}


.label-two {
    font-size: 1.8rem;
    padding-left: 2rem;
}

hr {
    margin: 0px;
    margin-top: 2rem;
    background: black;
}


.camera-video {
    margin-top: 2rem;
    width: 100%;
    height: 50rem;
    background-size: 100% 50rem;
    /*background-image: url("/image/ipcamera.png");*/
}

.dashboard-content {
    padding: 0px;
}

.on-air {
    display: inline-block;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 25px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    background: rgb(255, 51, 102);
}

#ipcamera {
    width: 100%;
}

#ipcamera canvas {
    width: 100%;
    height: 70%;
}

#myVideo, #ipcamera {
    width: 100%;
    height: 70%;
}

.video-list-box {
    font-size: 35px;
    margin-left: 15px;
}

.stream {
    margin-left: 40px;
}

.list-hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 3rem;
    background: black;
}
.video-btn {
    background:none;
    color: black;
    border:none;
    margin-top: 0.3rem;
    cursor: pointer;
}
.video-btn-active{
    border: 2px solid #008CBA;
    background-color: #008CBA;
    color: white;
}
.video-list-active{
    border: 2px solid #008CBA;
    border-radius: 0.5rem;
    background-color: #008CBA;
    color: white;
}
.video-list {
    width: 95%;
    text-align: left;
    overflow: auto;
    word-wrap: normal;
}
