extends layout

append head
    link(href='./css/account.css' rel='stylesheet')


block content
    .modal.fade#modify_Modal(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    .modal-title DETAILS
                    div
                        button modify
                        div IoT gateway
                .modal-body
                    .gateway_name Account type
                        div
                            select
                                option Admin
                                option User
                    .mqtt_broker_ip Account name
                        div
                            input(type="text" name="name")
                    .mqtt_broker_port Password
                        div
                            input(type="text" name="password" placeholder="Password").password
                        div
                            input(type="text" name="password_check" placeholder="Re-type Password")
                    .vendor Email address
                        div
                            input(type="text" name="email" placeholder="Email or Username")
                .modal-footer
                    button.btn.btn-default(data-dismiss="modal")#close Close
                    button.btn.btn-default(data-dismiss="modal")#confirm Confirm
    .content_title
        img(src="/image/accountWhite.png")
        div Account Management
    .content_body
        .content_body_title Account
        .content_body_subtitle Admin/user management
        button.add_account Add Account
        table
            thead
                tr
                    td
                    td User level
                    td User name
                    td Email address
                    td Details
            tbody
                tr
                    td
                        input(type="checkbox")
                    td admin
                    td Hong 길동
                    td GdHong@naver.com
                    td
                tr
                    td
                        input(type="checkbox")
                    td user
                    td Kim 희동
                    td HdKim@naver.com
                    td
        .button_list
            button.delete Delete
            button.modify(data-target="#modify_Modal" data-toggle="modal") Modify
        .content_nav
            nav
                ul
                    li
                        a(href="#") <
                    li
                        a(href="#") 1
                    li
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#") 4
                    li
                        a(href="#") >
