.summary-card {
    max-width: 520px;
    margin-bottom: 15px;
}

.summary-card img {
    max-width: 45px;
    max-height: 45px;
}

.card-registered-status {
    text-align: center;
    margin: auto;
    color: red;
}

.registered-number {
    font-size: 35px;
    margin: auto;
    font-weight: 700;
}

.registered-text {
    font-size: 16px;
    margin: auto;
}


.overview-card {
    max-width: 550px;
}

.overview-card img{
    max-width: 550px;
    margin: auto;
}

.card-title {
    /*border: 0px;*/
}

.small {
    max-width: 252px;
}

h5, h6 {
    padding: 15px;
    margin: 0px;
}

.card-body {
    margin-top: 20px;
}

.card-body > p {
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 23pt;
}

table {
    font-size: 11pt;
    width: 100%;
    border: 2px solid lightgray;
    margin-left: 6px;
}

thead {
    font-weight: bolder;
    text-align: center;
    background: whitesmoke;
}

td {
    border: 1px solid lightgray;
    width: 25%;
    height: 30px;
}

.with-switch {
    max-width: 143px;
}
.switch {
    max-width: 143px;
}

/*여기부터 도넛 차트*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: inline-block;
    width: 33.33%;
    margin: 50px 0;
    text-align: center;
    min-width: 150px;
    position: relative;
}


.graph {
    width: 150px;
    height: 75px;
    position: relative;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 16pt;
    line-height: 130px;
    font-weight: bolder;
    border-radius: 150px 150px 0 0;
    overflow: hidden;
    color: #0ff;
}
.graph:before, .graph:after {
    content: '';
    width: 150px;
    height: 75px;
    border: 30px solid #0ff;
    border-top: none;
    position: absolute;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    border-radius: 0 0 300px 300px;
    -webkit-animation: demo 2s;
    animation: demo 2s;
    left: 0;
    top: 100%;
    z-index: 5;
}
.graph:after {
    z-index: 3;
    border-color: rgba(0, 0, 0, 0.15);
    /*-webkit-transform: rotate(150deg);*/
    transform: rotate(180deg);
}
/*.graph:hover:before {*/
    /*opacity: .8;*/
    /*cursor: pointer;*/
/*}*/


.model-1 {
    margin: 0px;
}

.model-1 .graph {
    color: #fc6403;
}
.model-1 .graph:before {
    /*-webkit-transform: rotate(180deg);*/
    transform: rotate(170deg);
    border-color: #fc6403;
}

@-webkit-keyframes demo {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes demo {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
