#userTable {
    border-collapse: separate;
    border-spacing: 3px;
    text-align: center;
    line-height: 1.5;
}

#userTable th {
    padding: 10px;
    font-size: 11px;
}

#userTable td {
    padding: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #deceb2;
    font-size: 10px;
}

#userTable thead {
    background-color: #ebeff5;
    color: rgb(0,0,0);
}

#userTable tbody .selected {
    /*background-color: #fcf9f9;*/
    /*background-color: #f8f4f4;*/
    background-color: #f4f0f0;

}


#userTable_wrapper {
    padding: 0;
    margin: auto;
}

.name_account {
    margin-top: 0;
    font-weight: 400;
    /*height: 0;*/

}

.account {
    background: rgb(90,153,157);
}

.btn {
    padding:5px;
}

.btn-action {
    padding: 5px;
}