@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

body, li, p {
    font-family: 'Noto Sans KR', sans-serif;
!important;
}

body * {
    padding: 0;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-margin {
    margin: 0;
}

/*.center-img {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
}*/

/******************Content Title*******************/
.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-head {
    color: #404040;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content-title {
    color: #f27171;
    margin: auto;
    font-size: 24px;
    font-weight: 700;
}

.content-title img {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    margin: 10px;
}

.content-title span {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 10px;
    vertical-align: middle;
}

/******************Content Title*******************/

.card-title {
    margin: auto;
    border-bottom: solid lightgray 2px;
}


/******************** Table Frame ***********************/
.table-frame {
    margin: auto 20px;
}

.table-frame table {
    margin: 10px auto;
    width: 100%;
    text-align: left;
}

.table-frame thead td {
    background: lightgray;
    text-align: center;
    border: solid darkgrey 2px;
    font-size: 18px;
    font-weight: 500;
}

.table-frame tbody td {
    border: solid darkgrey 2px;
    text-indent: 10px;
    font-size: 16px;
    font-weight: 300;
}

/******************** Table Frame ***********************/

/******************** DataTable Frame ***********************/
#dataTable {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
}

#dataTable th {
    padding: 10px;
    font-size: 11px;
}

#dataTable td {
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #deceb2;
    font-size: 10px;
}

#dataTable thead {
    background-color: #ebeff5;
    color: rgb(0,0,0);
}

#dataTable tbody .selected {
    background-color: #fcf9f9;
}

/******************** DataTable Frame ***********************/

/******************* modal ***********************/
.modal-body-content > p {
    margin-bottom: auto;
}

.modal-body-content > select {
    width: 554px;
    height: 45px;
    font-size: 14px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid lightgray;
}

.modal-body-content > input {
    font-size: 14px;
    height: 45px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid lightgray;
    width: 554px;
}

.modal-body-content {
    font-size: 16px;
    font-weight: 700;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 656px;
        margin: 1.75rem auto;
    }
}

.modal-title {
    font-size: 32px;
    font-weight: 700;
}

.modal-body {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.modal-footer {
    padding-left: 50px;
    padding-right: 50px;
}


.modal-cancel {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid darkgray;
    border-radius: 4px;
    background-color: white;
    color: darkgray;
    font-size: 22px;
    font-weight: bold;
    width: 167px;
}

.modal-confirm {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    width: 167px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #1f2d3d;
    color: white;
    font-size: 22px;
    font-weight: bold;

}

.btn-action {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #65c0c6;
    border-color: #65c0c6;
    height: 31px;
    line-height: 1;
}

.btn-action:disabled {
    background-color: #65c0c6;
    border-color: #65c0c6;
}

.btn-action:focus, .btn-action:active, .btn-action:hover:enabled {
    outline: none !important;
    box-shadow: none !important;
    background-color: #003333 !important;
    border-color: #003333 !important;
}

.page-link {
    color: #003333;
}


.page-item.active .page-link {
    background-color: #65c0c6;
    border-color: #65c0c6;
    /*color: #003333;*/
}


.page-item.active:focus, .page-item.active:active, .page-item.active:hover:enabled {
    outline: none !important;
    box-shadow: none !important;
}

.page-link:focus, .page-link:active, .page-link:hover:enabled {
    outline: none !important;
    box-shadow: none !important;
}
