@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

body, li, p {
    font-family: 'Noto Sans KR', sans-serif;
!important;
}

body * {
    padding: 0;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-margin {
    margin: 0;
}

/*.center-img {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
}*/

/******************Content Title*******************/
.content {
    margin-top: 20px;
}

.content-head {
    color: #404040;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content-title {
    margin: auto;
    font-size: 24px;
    font-weight: 700;
}

.content-title img {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    margin: 10px;
}

.content-title span {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 10px;
    vertical-align: middle;
}

/******************Content Title*******************/

.card-title {
    margin: auto;
    border-bottom: solid lightgray 2px;
}


/******************** Table Frame ***********************/
.table-frame {
    margin: auto 20px;
}

.table-frame table {
    margin: 10px auto;
    width: 100%;
    text-align: left;
}

.table-frame thead td {
    background: lightgray;
    text-align: center;
    border: solid darkgrey 2px;
    font-size: 18px;
    font-weight: 500;
}

.table-frame tbody td {
    border: solid darkgrey 2px;
    text-indent: 10px;
    font-size: 16px;
    font-weight: 300;
}

/******************** Table Frame ***********************/

/******************** DataTable Frame ***********************/
#dataTable {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
}

#dataTable th {
    padding: 10px;
    font-size: 11px;
}

#dataTable td {
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    font-size: 10px;
}

/******************** DataTable Frame ***********************/