/*여기부터 dashboard*/
.card {
    margin-right: 2px;
}

.card-box {
    margin: 0px;
    margin-bottom: 20px;
}

.card-body {
    margin: 10px auto;
    padding: 0;
    width: 90%;
}

.card-text {
    font-size: 13px;
    font-weight: 400;
    width: 175px;
}

.card-text > div > span:nth-child(2) {
    display: inline-block;
    height: 20px;
    width: 60px;
}

.card-text > div > span:nth-child(3) {
    color: #e74c3c;
}

.home-security-2 .card-text > div > span:nth-child(3) {
    color: rgb(46, 204, 113);
}

.content-head-2 {
    color: #404040;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.temp-humi {
    min-width: 240px;
}

.card-body {
    margin: 0px;
}

.temp-humi > .card-body {
    width: 243px;
}

.temp-humi .card-title {
    min-width: 243px;
    background-color: #3498db;
}

.temp-humi .card-text {
    width: 243px;
}

.card .card-title {
    color: white;
    max-height: 50px;
    max-width: 240px;
}

.big-title {
    margin-left: 10px;
    font-size: 32px;
    font-weight: 700;
}

.small-title {
    font-size: 14px;
    font-weight: 600;
}

.luminance .card-body, .home-security-1 .card-body, .home-security-2 .card-body, .ip-camera .card-body, .gas-mgnmt .card-body {
    width: 180px;
}

.luminance .card-text, .home-security-1 .card-text, .home-security-2 .card-text, .ip-camera .card-text, .gas-mgnmt .card-text {
    width: 180px;
}

.home-security-1 .card-text > div, .home-security-2 .card-text > div, .gas-mgnmt .card-text > div {
    padding-top: 15px;
}

.luminance .card-title {
    width: 180px;
    background-color: #ff9900;
}

.home-security-1 .card-title, .home-security-2 .card-title, .gas-mgnmt .card-title {
    width: 180px;
    background-color: #ff3366;
}

.ip-camera .card-title {
    width: 180px;
    background-color: #009999;
}

.ip-camera .card-text {
    margin-right: 0px;
}

.home-security-service {
    min-width: 260px;
}

.home-security-service .card-text {
    width: 260px;
}

.device-control, .home-security-service {
    min-width: 260px;
    height: 135px;
}

.home-security-service .card-body {
    width: 260px;
}

.home-security-service .card-title {
    min-width: 260px;
    background-color: #3498db;
}

.device-control .card-title {
    min-width: 260px;
    background-color: #333366;
}

.device-control .card-text {
    width: 260px;
}

table {
    margin-top: 10px;
    text-align: center;
    width: 1130px;
    border: 2px solid lightgray;
}

thead {
    font-weight: bold;
    background-color: #eaeaea;
}

td {
    height: 30px;
    border: 1px solid lightgray;
}

.card-img {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    margin-right: 5px;
}

.camera-img {
    padding-top: 13px;
    padding-bottom: 10px;
    width: 100%;
    max-height: 120px;
}

td:nth-child(1) {
    width: 37px;
}


.temp-humi .row canvas{
    max-height: 40px;
}

.temp-humi .row {
    margin: 0px;
    padding-top: 17px;
    width: 240px;
    max-height: 50px;
}

.temp-humi .row > span:nth-child(1) > img {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}

.temp-humi .row > span:nth-child(2) {
    color: rgb(52, 152, 219);
    font-weight: bold;
    width: 60px;
    font-size: 24px;
    margin-top: 5px;
}

.temp-humi .row > span:nth-child(3) {
    width: 140px;
    height: 35px;
}

.card-title > span > span {
    display: inline-block;
    width: 50px;
    text-align: right;
}

.device-control .card-title > span:nth-child(3) {
    display: inline-block;
    text-align: right;
    width: 130px;
}

.temp-humi .card-title > span:nth-child(3) {
    display: inline-block;
    text-align: right;
    width: 46px;
}

.home-security-1 .card-title > span:nth-child(3), .home-security-2 .card-title > span:nth-child(3) {
    display: inline-block;
    text-align: right;
    width: 47px;
}

.luminance .card-title > span:nth-child(3), .ip-camera .card-title > span:nth-child(3) {
    display: inline-block;
    text-align: right;
    width: 76px;
}

.gas-mgnmt .card-title > span:nth-child(3) {
    display: inline-block;
    text-align: right;
    width: 78px;
}

.home-security-service .card-title > span:nth-child(3) {
    display: inline-block;
    text-align: right;
    width: 75px;
}

.gas-mgnmt span > span {
    width: 80px;
    text-align: right;
}

.gas-mgnmt {
    width: 200px;
    height: 130px;
}

.gas-mgnmt > div > .card-text {
    width: 200px;
}

.gas-mgnmt > div >.card-title , .gas-mgnmt > .card-body{
    width: 199px;
}

.gas-mgnmt > div > .card-text > div{
    width: 100%;
    padding: 0px;
    margin-top: 5px;
}

.gas-mgnmt > div > .card-text > div > span:nth-child(3) {
    margin-left: 10px;
}

/*canvas {*/
    /*max-width: 150px;*/
    /*max-height: 35px;*/
/*}*/

/*여기부터 도넛 차트*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: inline-block;
    width: 33.33%;
    margin: 50px 0;
    text-align: center;
    min-width: 150px;
    position: relative;
}

.graph {
    width: 120px;
    height: 60px;
    position: relative;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 16pt;
    line-height: 90px;
    font-weight: bolder;
    border-radius: 150px 150px 0 0;
    overflow: hidden;
    color: #0ff;
}

.graph:before, .graph:after {
    content: '';
    width: 120px;
    height: 60px;
    border: 23px solid #0ff;
    border-top: none;
    position: absolute;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    border-radius: 0 0 300px 300px;
    -webkit-animation: demo 2s;
    animation: demo 2s;
    left: 0;
    top: 100%;
    z-index: 5;
}

.graph:after {
    z-index: 3;
    border-color: rgba(0, 0, 0, 0.15);
    transform: rotate(180deg);
}

.model-1 {
    margin: 0px;
}

.model-1 .graph {
    color: #fc6403;
}

.model-1 .graph:before {
    transform: rotate(120deg);
    border-color: #fc6403;
}

@-webkit-keyframes demo {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes demo {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.graph img {
    width: 30px;
    height: 30px;
}

.lumi.model-1 {
    padding-top: 10px;
}

.lumi.model-1 > .row > div {
    font-size: 8pt;
    color: rgb(217, 217, 217);
    width: 87px;
}

.start_value {
    padding-left: 38px;
    text-align: left;
}

.finish_value {
    text-align: right;
    padding-right: 27px;
}

.lux {
    color: #fc6403;
    font-size: 26px;
    font-weight: 700;
    width: 100%;
}

/*여기가 스위치*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 15px;
    margin-top: 3px;
    margin-right: 8px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 20.5px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: rgb(46, 204, 113);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(46, 204, 113);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 38%;
}

/*스위치 끝*/

.security-service {
    width: 260px;
    height: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.security-service > p {
    margin-top: 4px;
    font-size: 10px;
    font-weight: 400;
}

.security-name, .security-number {
    font-size: 14px;
    font-weight: 400;
}

.security-number {
    width: 35px;
}

.security-name {
    width: 110px;
    color: rgb(52, 152, 219);
}

.occupied_mode {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: rgb(127, 127, 127);
}

.device-name {
    width: 95px;
}

.device-number {
    width: 40px;
}

.device-control-content {
    width: 293px;
    height: 28px;
    margin: 12px 0 0 15px;
}

.device-control-content > img {
    width: 20px;
    height: 20px;
}

.device-control-content > p {
    margin-top: 4px;
    font-size: 10px;
}

.device-name {
    margin-left: 7px;
}

@media (min-width: 640px) {
    .modal-dialog {
        max-width: 942px;
        margin: 1.75rem auto;
    }
}

#ipcamera > div {
    width: 640px;
    height: 360px;
}

#ipcamera > div > canvas {
    max-width: 640px;
    max-height: 360px;
}

.modal-body {
    padding-left: 0px;
    padding-right: 0px;
}

.modal-body {
    padding: 0px;
}

.modal-header > button > span{
    display: inline-block;
    margin-top: 5px;
}


.video-content {
    border:navy solid 3px;
    background: #2B2B2B;
}
.video-list-box {
    border-left: white solid 3px;
    color:white;

}
.video-btn {
    background: #2B2B2B;
    color:white;
    border: none;
}

.video-btn:disabled {
    background-color: #2B2B2B;
    /*border-color: #65c0c6;*/
}

.video-btn:focus, .video-btnn:active, .video-btn:hover:enabled {
    outline: none !important;
    box-shadow: none !important;
    background-color: #2B2B2B !important;
    color:yellow !important;
    border-color: yellow !important;
}

.video-player {
    padding:1px;
    padding-left: 6px;

    margin-left: 10px;
    margin-right: 5px;
}
.video-list{
    list-style: none;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 5px;
    color:white;

}

li .video-btn {
    border-bottom: white solid 1px;
}
.video::-webkit-scrollbar {
    width: 0px;
}

.device-monitor {
    margin-right: 20px;
}


.environment_date {
    background: white;
    height: 40px;
    width: 65%;
}