.selected {
    background-color: #B0BED9 !important;
}
.col-12 .btn {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #3498db;
    border-color: #3498db;
}
.page-link {
    color: #3498db;
}
.page-item.active .page-link {
    background-color: #3498db;
    border-color: #3498db;
}
.col-sm-12, .col-md-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.inner-table {
    text-align: center;
    width: 100%;
}

.nav-tabs li{
    margin-left: 10px;
    margin-right: 10px;
}

caption {
    text-align: center;
    caption-side: top;
    font-size: 24px;
}

div .dataTables_paginate {
    float: right;

    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}
div .dataTables_paginate > .pagination {
    position: relative;
    left: 50%;
}

.default-bottom-margin {
    margin-bottom: 20px;
}

