.selected {
    background-color: #B0BED9 !important;
}



.col-12 .btn {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #3498db;
    border-color: #3498db;
}
.page-link {
    color: #3498db;
}
.page-item.active .page-link {
    background-color: #3498db;
    border-color: #3498db;
}
.col-sm-12, .col-md-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 656px;
        margin: 1.75rem auto;
    }
}

.modal-title {
    font-size: 32px;
    font-weight: 700;
}

.modal-body {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.modal-footer {
    padding-left: 50px;
    padding-right: 50px;
}

.device-info > div {
    margin-bottom: 10px;
}

.device-info > select {
    width: 554px;
    height: 45px;
    font-size: 14px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid lightgray;
}

.device-info > input {
    font-size: 14px;
    height: 45px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid lightgray;
    width: 554px;
}

.device-info {
    font-size: 16px;
    font-weight: 700;
}

.modal-cancel {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid darkgray;
    border-radius: 4px;
    background-color: white;
    color: darkgray;
    font-size: 22px;
    font-weight: bold;
    width: 167px;
}

.modal-confirm {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    width: 167px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #1f2d3d;
    color: white;
    font-size: 22px;
    font-weight: bold;

}