@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

body, li, p {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    min-width: 1200px;
}

.title-bar {
    min-height: 50px;
    margin: 0px;
}

.menu-bar {
    margin: 0px;
    min-height: 60px;
    background-color: #003333;
    color: white;
    /*margin-top: 15px;*/
}

.menu-bar > div > div > div{
    margin-left: 0px;
}


.title-logo img {
    width: 100px;
    height: 50px;
}

.menu-logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
}

.menu-logo img {
    margin-top: 15px;
    margin-left: 40px;
    width: 45px;
    height: 30px;
}

.menu-logo > div > div {
    margin-top: 20px;
    margin-left: 10px;
}

.login {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.auth {
    font-size: 10px;
    font-weight: bold;
}

.name {
    margin-top: -5px;
    height: 15px;
    font-size: 14px;
    font-weight: bold;
}

.login-bar {
    padding-left: 35px;
}

.login-bar > div {
    margin-top: 10px;
}

.logout {
    border-radius: 4px;
    margin: auto 0 auto auto;
    font-size: 12px;
    color: white;
    border: 1px solid #65c0c6;
    background-color: #65c0c6;
}

.logout:disabled {
    background-color: #65c0c6;
    border-color: #65c0c6;
}

.logout:focus, .logout:active, .logout:hover:enabled {
    outline: none !important;
    box-shadow: none !important;
    background-color: #003333 !important;
    border-color: #003333 !important;
}

.content-hr > hr {
    background-color: #f27171;
    /*background-color: rgb(51,51,51);*/
}

.menu-text > div {
    padding-top: 22px;
    float: right;
    text-align: center;
    width: 80px;
    height: 60px;
    float: right;
    /*background-color: rgb(52, 63, 75);*/
}

.menu-text {
    margin: 0px;
    padding-left: 100px;
    /*padding-top: 15px;*/
    font-size: 12px;
    font-weight: 700;
    width: 100%;
}

.content-head {
    padding-right: 0px;
}
