#eventTable, #deployEventTable {
    border-collapse: separate;
    border-spacing: 3px;
    text-align: center;
    line-height: 1.5;
}

#eventTable th, #deployEventTable th {
    padding: 10px;
    font-size: 11px;
}

#eventTable td, #deployEventTable td {
    padding: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #deceb2;
    font-size: 10px;
}

#eventTable thead, #deployEventTable thead {
    background-color: #ebeff5;
    color: rgb(0, 0, 0);
}

#eventTable tbody .selected, #deployEventTable tbody .selected  {
    background-color: #fcf9f9;
}

div .dataTables_paginate {
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}

div .dataTables_paginate > .pagination {
    position: relative;
    left: 50%;
}

#eventTable_wrapper {
    padding: 0;
    margin: auto;
}

#deviceEvent {
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .col-md-7 {
        display: grid;
    }
}

#deployEventTable > tbody > tr > td:nth-child(4){
    text-align: left!important;
}

.devicelog > tbody > tr > td:nth-child(4), .devicelog > tbody > tr > td:nth-child(3), .devicelog > tbody > tr > td:nth-child(6){
    text-align: left!important;
    text-indent: 10px;
}
.securitylog  > tbody > tr > td:nth-child(5), .securitylog  > tbody > tr > td:nth-child(3){
    text-align: left!important;
    text-indent: 10px;
}
.logger{
    background: rgb(90,153,157);
}
