doctype html5

html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' rel='stylesheet' integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        script(src='http://code.jquery.com/jquery-1.10.1.min.js')
        script(src="/plugin/jquery/dist/jquery.js")
        script(src="/javascript/layout.js")
        link(rel="stylesheet" href="/css/new/layout.css")
        link(href='/css/common.css', rel='stylesheet')
        title SecureHome
        block head
    body
        .container
            .row.layout-top-bar.no-padding
                .col-sm-9.title-logo.no-padding
                    .title-logo-content#menu-logo
                        img.title-logo-img(src="/image/SIotLogo.png")
                        span.title-logo-text
                            span SecureHome
                            | ETRISECURE GATEWAY SOLUTION
                .row.col-sm-3.title-user-info.no-padding
                    .col-sm-3.no-padding
                        img.user-img(src="/image/login.png").center-img
                    .col-sm-5.no-padding
                        .col-sm-12.no-padding
                            span#user-role Admin
                        .col-sm-12.no-padding
                            span#user-name Hong 길동
                    .col-sm-4.no-padding(style='margin: auto')
                        .btn#logout-btn Log out
            .row
                .col-sm-1.no-padding.menu-bar(style='min-height:1080px')
                    .col-sm-12.no-padding.menu-item#menu-dashboard
                        img.menu-img(src="/image/dashboardWhite.png").center-img
                        .menu-name Dashboard
                    .col-sm-12.no-padding.menu-item#menu-gateway
                        img.menu-img(src="/image/gatewayWhite.png").center-img
                        .menu-name
                            |Gateway
                            br
                            |Management
                    .col-sm-12.no-padding.menu-item#menu-device
                        img.menu-img(src="/image/shareWhite.png").center-img
                        .menu-name
                            |Iot Devices
                            br
                            |Management
                    .col-sm-12.no-padding.menu-item#menu-security
                        img.menu-img(src="/image/keyWhite.png").center-img
                        .menu-name
                            |Security
                            br
                            |Management
                    .col-sm-12.no-padding.menu-item#menu-account
                        img.menu-img(src="/image/accountWhite.png").center-img
                        .menu-name
                            |Account
                            br
                            |Management
                    .col-sm-12.no-padding.menu-item#menu-event
                        img.menu-img(src="/image/alarmWhite.png").center-img
                        .menu-name
                            |EventLogger
                            br
                            |Management
                .col-sm-11.content.no-padding
                    block content

                    //.width_bar
                    //    .sensor_event_log
                    //        .log_title Sensor event log
                    //        table
                    //            thead
                    //                tr
                    //                    td Event date
                    //                    td Event level
                    //                    td Sensor type / name
                    //                    td Activity message
                    //            tbody
                    //                tr
                    //                    td 02-25-2018 18:00.31
                    //                    td Log
                    //                    td ETRI Humidity sensor / Hum001
                    //                    td Humidity sensor is connected