doctype html5

html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' rel='stylesheet' integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        script(src='http://code.jquery.com/jquery-1.10.1.min.js')
        script(src="/plugin/jquery/dist/jquery.js")
        script(src="/javascript/layout.js")
        link(rel="stylesheet" href="/css/layout.css")
        title SecureHome
        block head
    body
        .container
            .row
                .col-sm-9.col-md-6.col-lg-8.col-xl-8
                    .image
                        img(src="/image/SIoTLogo.png")
                    .layout_title SecureHome
                    .layout_title2 ETRI SECURE GATEWAY SOLUTION
                .col-sm-3.col-md-6.col-lg-4.col-xl-4
                    .profile_image
                        img(src="/image/login.png")
                    .profile_auth_name
                        .profile_auth Admin
                        .profile_name Hong 길동
                    .profile_logout
                        button Log out
            .row
                .menu_list
                    .dashboard
                        img(src="/image/dashboardWhite.png")
                        p Dashboard
                    .gateway
                        img(src="/image/gatewayWhite.png")
                        p Gateway
                        p Management
                    .iot_device
                        img(src="/image/shareWhite.png")
                        p Iot Devices
                        p Management
                    .security
                        img(src="/image/keyWhite.png")
                        p Security
                        p Management
                    .account
                        img(src="/image/accountWhite.png")
                        p Account
                        P Management
                    .event_logger
                        img(src="/image/alarmWhite.png")
                        P Event Logger
                        p Management
                .content
                    block content