doctype html

html(lang='en')
    head
        script(src='/plugin/jquery/dist/jquery.js')
        link(href='../css/regist.css' rel='stylesheet')
        title SecureHome

    body
        .title
            span
                img(src="/image/SIoTLogo.png")
            span.title1 SecureHome
            span.title2 ETRI SECURE GATEWAY SOLUTION
        .sign_in
            .sign_in_title
                .text REGISTRATION
                .button Create an account
            .sign_in_content
                form
                    .id
                        p Email address
                        input(type="text" name="username" placeholder="Email or Username")
                    .password
                        p Password
                        input(type="password" id="password" name="password" placeholder="Password")
                        input(type="password" id="password_check" name="password_check" placeholder="Re-type Password")
                    .name
                        p Account name
                        input(type="text" name="name" placeholder="Account name")
                    .remember_me
                        input(type="checkbox")
                        span Remember me
                    .submit
                        button.cancel Cancel
                        button.confirm Confirm
                    .existing
                        a(href="#") Sing in to and existing account
        .company All rights reserved in Class Act Co., Ltd