extends ../../layout

append head
    link(rel='stylesheet', type='text/css', href='/plugin/datatables-1.10.16/css/dataTables.css')
    script(type='text/javascript', src='/plugin/datatables-1.10.16/js/datatables.js')
    script(type='text/javascript', src='/plugin/datatables-1.10.16/js/datatables.bootstrap4.js')
    script(src='/javascript/gateway.js')
    link(rel='stylesheet', type='text/css', href='/css/gateway.css')

append title
    span.col-xl-2.content-title.no-padding GATEWAY

block content
    ul.nav.nav-tabs
        li
            a(data-toggle='tab', href='#gateway1').gateway-nav.active.show GatewayName1
        li
            a(data-toggle='tab', href='#gateway2').gateway-nav GatewayName2
    .tab-content
        #gateway1.tab-pane.fade.active.show
            table(width='100%').gateway-table
                caption Gateway Information
                thead
                    tr
                        th ID
                        th Name
                        th IP Address
                        th Port
                tbody
                    tr
                        td 1
                        td GatewayName1
                        td 192.168.0.11
                        td 3000
            table#myTable1(width='100%')
                caption Device Information
                thead
                    tr
                        th Device ID
                        th Name
                        th Type
                        th Connected
                        th Authentication
                        th Policy
                tbody
                    tr
                        td 12965920
                        td Power Plug!
                        td SmartPlug
                        td Yes
                        td OK
                        td Server-CRU
                    tr
                        td 12965921
                        td Light!
                        td SmartLight
                        td Yes
                        td NOT
                        td Device-CRUDN
                    tr
                        td 12965922
                        td GasB!
                        td GasBreaker
                        td NOT
                        td OK
                        td Server-C
                    tr
                        td 12965920
                        td Power Plug!
                        td SmartPlug
                        td Yes
                        td OK
                        td Server-C
                    tr
                        td 12965921
                        td Light!
                        td SmartLight
                        td Yes
                        td OK
                        td Server-C
                    tr
                        td 12965922
                        td GasB!
                        td GasBreaker
                        td Not
                        td OK
                        td Server-C
        #gateway2.tab-pane.fade
            table(width='100%').gateway-table
                caption Gateway Information
                thead
                    tr
                        th ID
                        th Name
                        th IP Address
                        th Port
                tbody
                    tr
                        td 2
                        td GatewayName2
                        td 192.168.0.21
                        td 3000
            table#myTable2(width='100%')
                caption Device Information
                thead
                    tr
                        th Device ID
                        th Name
                        th Type
                        th Connected
                        th Authentication
                        th Policy
                tbody
                    tr
                        td 12965920
                        td Power Plug!
                        td SmartPlug
                        td Yes
                        td OK
                        td Server-CRU
                    tr
                        td 12965921
                        td Light!
                        td SmartLight
                        td Yes
                        td NOT
                        td Device-CRUDN
                    tr
                        td 12965922
                        td GasB!
                        td GasBreaker
                        td NOT
                        td OK
                        td Server-C
                    tr
                        td 12965920
                        td Power Plug!
                        td SmartPlug
                        td Yes
                        td OK
                        td Server-C
                    tr
                        td 12965921
                        td Light!
                        td SmartLight
                        td Yes
                        td OK
                        td Server-C
                    tr
                        td 12965922
                        td GasB!
                        td GasBreaker
                        td Not
                        td OK
                        td Server-C
                    tr
                        td 12965920
                        td Power Plug!
                        td SmartPlug
                        td Yes
                        td OK
                        td Server-C
                    tr
                        td 12965920
                        td Power Plug!
                        td SmartPlug
                        td Yes
                        td OK
                        td Server-C
                    tr
                        td 12965920
                        td Power Plug!
                        td SmartPlug
                        td Yes
                        td OK
                        td Server-CRU
                    tr
                        td 12965921
                        td Light!
                        td SmartLight
                        td Yes
                        td NOT
                        td Device-CRUDN
                    tr
                        td 12965922
                        td GasB!
                        td GasBreaker
                        td NOT
                        td OK
                        td Server-C
                    tr
                        td 12965920
                        td Power Plug!
                        td SmartPlug
                        td Yes
                        td OK
                        td Server-C
                    tr
                        td 12965921
                        td Light!
                        td SmartLight
                        td Yes
                        td OK
                        td Server-C
                    tr
                        td 12965922
                        td GasB!
                        td GasBreaker
                        td Not
                        td OK
                        td Server-C
                    tr
                        td 12965920
                        td Power Plug!
                        td SmartPlug
                        td Yes
                        td OK
                        td Server-C
                    tr
                        td 12965920
                        td Power Plug!
                        td SmartPlug
                        td Yes
                        td OK
                        td Server-C
        //#menu2.tab-pane.fade
            h3 Menu 2
            p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        //#menu3.tab-pane.fade
            h3 Menu 3
            p
                | Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.




    //table#dataTable.table.table-striped.no-padding(style='width:100%')
    //    thead
    //        tr
    //            th Gateway ID
    //            th Gateway Name
    //            th Ip
    //            th Port
    //    tbody
    //        tr
    //            td 1
    //            td gateway_room
    //            td 192.168.0.11
    //            td 3000
    //        tr
    //            td 2
    //            td gateway_living
    //            td 192.168.0.12
    //            td 3001