extends layout

append head
    link(href='/css/new/dashboard.css' rel='stylesheet')


block content
    .row.no-padding.content-title
        .col-sm-12.no-padding
            img(src="/image/dashboardWhite.png")
            span Dashboard
    .row.content-header.no-padding
        .col-sm-12.no-padding
            h2 Overview
            h5 Summary
    .row.no-padding.content-contents
        .col-sm-12.col-md-6.col-lg-3.no-padding.card-frame.summary-card
            .row.no-padding.card-title
                h4 Secure Gateways
            .row.no-padding.card-body
                .col-sm-6.no-padding.card-img
                    img(src="/image/gatewayWhite.png").center-img
                .col-sm-6.no-padding.card-registered-status
                    p.registered-number#registred-gateway 4
                    p.registered-text REGISTERED
            .row.no-padiing.card-event
                p No event occured
        .col-sm-12.col-md-6.col-lg-3.no-padding.card-frame.summary-card
            .row.no-padding.card-title
                h4 IoT Devices
            .row.no-padding.card-body
                .col-sm-6.no-padding.card-img
                    img(src="/image/shareWhite.png").center-img
                .col-sm-6.no-padding.card-registered-status
                    p.registered-number#registred-iot 4
                    p.registered-text REGISTERED
            .row.no-padiing.card-event
                p No event occured
        .col-sm-12.col-md-6.col-lg-3.no-padding.card-frame.summary-card
            .row.no-padding.card-title
                h4 Secure Devices
            .row.no-padding.card-body
                .col-sm-6.no-padding.card-img
                    img(src="/image/keyWhite.png").center-img
                .col-sm-6.no-padding.card-registered-status
                    p.registered-number#registred-security 4
                    p.registered-text REGISTERED
            .row.no-padiing.card-event
                p No event occured
        .col-sm-12.col-md-6.col-lg-3.no-padding.card-frame.summary-card
            .row.no-padding.card-title
                h4 Accounts
            .row.no-padding.card-body
                .col-sm-6.no-padding.card-img
                    img(src="/image/accountWhite.png").center-img
                .col-sm-6.no-padding.card-registered-status
                    p.registered-number#registred-account 4
                    p.registered-text REGISTERED
            .row.no-padiing.card-event
                p No event occured
    .row.content-header.no-padding
        .col-sm-12.no-padding
            h2 Secure Gateway
            h5 Resource overview
    .row.no-padding.content-contents
        .col-sm-12.col-md-5.gateway-title
                p.gateway-name ERTI_SG_001
                p.gateway-event No Event
        .col-md-7
        .col-sm-12.col-md-5.no-padding.card-frame.profile-card
            .row.no-padding.card-title
                h4 Profile
            .row.no-padding.card-body
                table(style='width:100%')
                    tr
                        td
                            span.key Mqtt Url
                        td
                            span.value http://192.168.2.2
                    tr
                        td
                            span.key Inter IP
                        td
                            span.value 192.168.2.100
                    tr
                        td
                            span.key Inter Port
                        td
                            span.value 22222
                    tr
                        td
                            span.key Devices
                        td
                            span.value 5
                    tr
                        td
                            span.key Uptime
                        td
                            span.value 22H11M30S
                    tr
                        td
                            span.key Uplink
                        td
                            span.value 15.03GB
                    tr
                        td
                            span.key Downlink
                        td
                            span.value 15GB
        .col-sm-12.col-md-7.no-padding.card-frame.overview-card
            .row.no-padding.card-title
                h4 Up/Downlink Statistics
            .row.no-padding.card-body
                .col-sm-12.no-padding.card-img
                    img(src="/image/networkgraph.png").center-img
    .row.no-padding.content-contents
        .col-sm-12.col-md-5.gateway-title
            p.gateway-name ERTI_SG_002
            p.gateway-event.error 3 Error Occured
        .col-md-7
        .col-sm-12.col-md-5.no-padding.card-frame.profile-card
            .row.no-padding.card-title
                h4 Profile
            .row.no-padding.card-body
                table(style='width:100%')
                    tr
                        td
                            span.key Mqtt Url
                        td
                            span.value http://192.168.2.2
                    tr
                        td
                            span.key Inter IP
                        td
                            span.value 192.168.2.200
                    tr
                        td
                            span.key Inter Port
                        td
                            span.value 22222
                    tr
                        td
                            span.key Devices
                        td
                            span.value 4
                    tr
                        td
                            span.key Uptime
                        td
                            span.value 1dd 22HH
                    tr
                        td
                            span.key Uplink
                        td
                            span.value 12.3GB
                    tr
                        td
                            span.key Downlink
                        td
                            span.value 14GB
        .col-sm-12.col-md-7.no-padding.card-frame.overview-card
            .row.no-padding.card-title
                h4 Up/Downlink Statistics
            .row.no-padding.card-body
                .col-sm-12.no-padding.card-img
                    img(src="/image/networkgraph.png").center-img
