extends layout

append head
    link(href='../css/new/security_new.css' rel='stylesheet')


block content
    .modal.fade#addsecureModal(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    .modal-title Policy
                .modal-body
                    .device-id Device ID(EID)
                        div
                            input(type="text" placeholder="65934" readonly=0)
                    .preshared-key Preshared key(PSK)
                        div
                            input(type="text" placeholder="yyyyyyyyyyyyyyyyyyyy" readonly=0)
                    .access-control-policy Access control policy
                        .row.col-12.no-padding(style="margin:0px;")
                            .col-2.no-padding
                                span(style="width:15px;")
                                    input(type="checkbox" style="width:15px;" checked=0)
                                span create(C)
                            .col-2.no-padding
                                span(style="width:15px;")
                                    input(type="checkbox" style="width:15px;" checked=0)
                                span read(R)
                            .col-2.no-padding
                                span(style="width:15px;")
                                    input(type="checkbox" style="width:15px;" checked=0)
                                span update(U)
                            .col-2.no-padding
                                span(style="width:15px;")
                                    input(type="checkbox" style="width:15px;" checked=0)
                                span delete(D)
                            .col-2.no-padding
                                span(style="width:15px;")
                                    input(type="checkbox" style="width:15px;" checked=0)
                                span notify(N)
                    .access-control-policy-target Access control policy target
                        .row.col-12(style="margin:0px;padding-left:10px;")
                            .col-2.no-padding.text-left
                                span(style="width:15px;")
                                    input(type="radio" style="width:15px;" checked=0)
                                span server
                            .col-2.no-padding.text-left
                                span(style="width:15px;")
                                    input(type="radio" style="width:15px;" checked=0)
                                span device
                .modal-footer
                    button.btn.btn-default(data-dismiss="modal")#close Close
                    button.btn.btn-default(data-dismiss="modal")#confirm Confirm
    .content_title
        img(src="/image/gatewayWhite.png")
        div Security Management
    .content_body
        .content_body_title Secure Rule
        .content_body_subtitle Registered devices
        table
            thead
                tr
                    td Index
                    td EID
                    td DID
                    td PSK
                    td Type
                    td Connected
                    td Authenticate
                    td Policy
            tbody
                tr(data-target="#addsecureModal" data-toggle="modal")
                    td 1
                    td 65934
                    td 12965934
                    td 1112311
                    td GasDetector
                    td On
                    td Ok
                    td Server-CR
                tr(data-target="#addsecureModal" data-toggle="modal")
                    td 2
                    td 65936
                    td 12965936
                    td 1111111222
                    td SmartLight
                    td SmartLight
                    td Not Ok
                    td Non
                tr(data-target="#addsecureModal" data-toggle="modal")
                    td 3
                    td 65933
                    td 12965937
                    td 1311313212
                    td SmartPlug
                    td On
                    td Ok
                    td Device-CRUDN
        .content_nav
            nav
                ul
                    li
                        a(href="#") <
                    li
                        a(href="#") 1
                    li
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#") 4
                    li
                        a(href="#") >


