extends layout

append head
    link(rel='stylesheet', type='text/css', href='/plugin/datatables-1.10.16/css/dataTables.css')
    script(type='text/javascript', src='/plugin/datatables-1.10.16/js/datatables.js')
    script(type='text/javascript', src='/plugin/datatables-1.10.16/js/datatables.bootstrap4.js')
    script(src='/javascript/account.js')
    link(rel='stylesheet', type='text/css', href='/css/common.css')
    link(rel='stylesheet', type='text/css', href='/css/account.css')


    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/all.js', integrity='sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+', crossorigin='anonymous')

append title
    span.col-xl-2.content-title.no-padding ACCOUNT

block content
    //.row.no-gutters
        .col-6.no-gutters
            .col-12
                i.fas.fa-sync-alt
            .col-12
    .row.no-gutters(style='margin-bottom:20px;')
        .col-6.no-gutters(style='height:300px; overflow-y: scroll;')
            ul.tree
        .col-6.no-gutters.datail-view(style='height:300px; overflow: scroll;')
            table.datail-gateway-view(style='display:none;width:100%;table-layout: fixed;', width='100%')#gatewayTable
                tbody
                    tr
                        td(width='50%') Gateway ID
                        td(width='50%')#gatewayId aaa
                    tr
                        td Gateway Name
                        td#gatewayName bbb
                    tr
                        td IP
                        td#gatewayIP 10.0.0.2
                    tr
                        td Port
                        td#gatewayPort 3000
                    tr
                        td Connection
                        td#gatewayConn conn
            table.detail-device-view(style='display:none;width:100%;')#deviceTable
                tr
                    td Gateway ID
                    td#gwid
                tr
                    td Device Name
                    td#dname
                tr
                    td Device Type
                    td#type
                tr
                    td Device ID
                    td#eid
                tr
                    td Product ID
                    td#did
                tr
                    td Pre Shared Key
                    td#psk
                tr
                    td Object ID
                    td#oid
                tr
                    td Session ID
                    td#sid
                tr
                    td Connection
                    td#conn
                tr
                    td Authentication
                    td#auth
                tr
                    td Security Policy
                    td#operation CRUDN
    .row.col-12.text-right.no-gutters.no-padding
        .col-12.no-gutters
            input.btn.btn-primary.btn-action(type='button', value='Deploy Log' data-target="#deployLogModal" data-toggle="modal")#logButton
            input.btn.btn-primary.btn-action(type='button', value='Policy' data-target="#policyModal" data-toggle="modal")#policyButton
    .row.no-gutters
        .col-12.no-gutters
            table#securityTable(style='width:100%')
                thead
                    tr
                        th Enforce Date
                        th From ID
                        th To ID
                        th Resource
                        th Create
                        th Read
                        th Update
                        th Delete
                        th Notify
    #policyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    .modal-title Policy Deploy
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-body-content
                        p FromID → ToID
                        input(type='text' readonly=true value='ThermoHygrometer_65934->MyIoTSVR')
                        p Resource Name
                        input(type='text' readonly=true value='ThermoHygrometer_65934')
                        p Policy
                        .form-check.form-check-inline
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Create
                        .form-check.form-check-inline
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Read
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Update
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Delete
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Notify
                        p(style='margin-top:10px;') Policy Enforcement Point
                        label.radio-inline
                            input(type='radio', name='optradio')
                            | &nbsp;Server
                        label.radio-inline(style="margin-left:12px")
                            input(type='radio', name='optradio')
                            | &nbsp;Device
                .modal-footer
                    button.modal-cancel(data-dismiss="modal") Cancel
                    button.modal-confirm(data-dismiss="modal") Confirm
    #deployLogModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    .modal-title Deploy Log
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-body-content
                        table#logTable.no-padding(style='width:100%')
                            thead
                                tr
                                    th Datetime
                                    th From ID
                                    th To ID
                                    th Resource Name
                                    th Operation
                            tbody
                                tr
                                    td 2018-04-09 13:12:10
                                    td ThermoHygrometer_65934
                                    td MyIoTSVR
                                    td ThermoHygrometer_65934
                                    td CRUD

                                tr
                                    td 2018-04-10 13:13:16
                                    td ThermoHygrometer_65934
                                    td MyIoTSVR
                                    td ThermoHygrometer_65934
                                    td CRUDN
                                tr
                                    td 2018-04-10 16:55:10
                                    td ThermoHygrometer_65934
                                    td MyIoTSVR
                                    td ThermoHygrometer_65934
                                    td C
                .modal-footer
                    //button.modal-cancel(data-dismiss="modal") Cancel
                    button.modal-confirm(data-dismiss="modal") Confirm


    //.col-12.no-padding
        input.btn.btn-primary.btn-action(type='button', value='Delete')#deleteButton
        input.btn.btn-primary.btn-action(type='button', value='Modify' data-target="#modifyModal" data-toggle="modal")#modifyButton
        input.btn.btn-primary.btn-action(type='button', value='Add' data-target="#policyModal" data-toggle="modal")#policyButton
    //table#dataTable.no-padding(style='width:100%;')
        thead
            tr
                th(scope='cols') Gateway ID
                th(scope='cols') Product ID
                th(scope='cols') Device ID
                th(scope='cols') Pre Shared Key
                th(scope='cols') Object ID
                th(scope='cols') Session ID
                th(scope='cols') Type
                th(scope='cols') Connected
                th(scope='cols') Authenticate
                th(scope='cols') Policy
    //#policyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    .modal-title Policy Deploy
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-body-content
                        p FromID → ToID
                        input(type='text' readonly=true value='ThermoHygrometer_65934->MyIoTSVR')
                        p Resource Name
                        input(type='text' readonly=true value='ThermoHygrometer_65934')
                        p Policy
                        .form-check.form-check-inline
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Create
                        .form-check.form-check-inline
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Read
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Update
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Delete
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Notification
                        p(style='margin-top:10px;') Policy Target
                        label.radio-inline
                            input(type='radio', name='optradio')
                            | Server
                        label.radio-inline
                            input(type='radio', name='optradio')
                            | Device
                .modal-footer
                    button.modal-cancel(data-dismiss="modal") Cancel
                    button.modal-confirm(data-dismiss="modal") Confirm
