extends layout

append head
    link(rel='stylesheet', type='text/css', href='/plugin/datatables-1.10.16/css/dataTables.css')
    script(type='text/javascript', src='/plugin/datatables-1.10.16/js/datatables.js')
    script(type='text/javascript', src='/plugin/datatables-1.10.16/js/datatables.bootstrap4.js')
    script(src='/javascript/device_security.js')
    link(rel='stylesheet', type='text/css', href='/css/common.css')
    link(rel='stylesheet', type='text/css', href='/css/device_security.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/all.js', integrity='sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+', crossorigin='anonymous')

append title
    span.col-xl-2.content-title.no-padding Management

block content
    //.row.no-gutters
        .col-6.no-gutters
            .col-12
                i.fas.fa-sync-alt
            .col-12
    #loader
    .row.no-gutters(style='margin-bottom:30px; margin-top: -10px; display:none;')#deviceDiv
        //if authority == "admin"
        .col-12(style='margin-bottom: 10px;')
            span#refresh(style='float:left; background-color:#65c0c6;border: 6px solid #65c0c6; padding:5px;font-size:1rem; line-height:1; margin:auto 5px;color:white; border-radius: 0.25rem;') REFRESH
                i.fas.fa-redo-alt(style='float:left; margin-left:5px; margin-right:5px;')
            //span Refresh
            input.btn.btn-primary.btn-action(type='button', value='Delete' data-target="#deleteModal" data-toggle="modal")#deleteButton
            input.btn.btn-primary.btn-action(type='button', value='Modify' data-target="#modifyModal" data-toggle="modal")#modifyButton
            input.btn.btn-primary.btn-action(type='button', value='Add Device' data-target="#addDeviceModal" data-toggle="modal")#addDeviceButton
            input.btn.btn-primary.btn-action(type='button', value='Add Gateway' data-target="#addGatewayModal" data-toggle="modal")#addGatewayButton

        .col-6.no-gutters.view-box
            .row.no-gutters.view-box-title
                h5 Registered Devices
            .row.no-gutters.view-box-content(style='border: solid 1px #ebeff5; border-top:none')
                ul.tree
        .col-6.no-gutters.detail-view.view-box
            .row.no-gutters.view-box-title
                h5 Detail Information
            .row.no-gutters.view-box-content(style='border: solid 1px #ebeff5;')
                table.detail-gateway-view(style='display:none;width:100%;table-layout: fixed;', width='100%')#gatewayTable
                    tbody
                        tr
                            td Gateway ID
                            td.right#gatewayId aaa
                        tr
                            td Gateway Name
                            td.right#gatewayName
                        tr
                            td IP
                            td.right#gatewayIP
                        tr
                            td Port
                            td.right#gatewayPort
                        tr
                            td Connection
                            td.right#gatewayConn
                table.detail-device-view(style='display:none;width:100%;')#deviceTable
                    tbody
                        tr
                            td Gateway ID
                            td.right#gwid
                        tr
                            td Device Name
                            td.right#dname
                        tr
                            td Device Type
                            td.right#dtype
                        tr
                            td Device ID
                            td.right#did
                        tr
                            td Product ID
                            td.right#eid
                        tr
                            td Pre Shared Key
                            td.right#psk
                        tr
                            td Object ID
                            td.right#oid
                        tr
                            td Session ID
                            td.right#sid
                        tr
                            td Connection
                            td.right#conn
                        tr
                            td Authentication
                            td.right#auth
                        tr
                            td Security Policy
                            td.right#operation
    .row.no-gutters(style='margin-bottom:0px')
        span.col-xl-2.content-title.no-padding Security
        .col-10.content-hr.no-padding
            hr
    .row.no-gutters(style='margin-bottom:20px; display: none;')#securityDiv
        //if authority == "admin"
        .col-12(style='margin-bottom:10px;')
            input.btn.btn-primary.btn-action(type='button', value='Deploy Log' data-target="#deployLogModal" data-toggle="modal")#logButton
            input.btn.btn-primary.btn-action(type='button', value='Policy' data-target="#policyModal" data-toggle="modal")#policyButton
        .col-12.no-gutters
            table#securityTable(style='width:100%')
                thead
                    tr
                        th Enforce Date
                        th From ID
                        th To ID
                        th Resource
                        th Create
                        th Read
                        th Update
                        th Delete
                        th Notify
    .row.no-gutters(style='margin-bottom:20px')
        span.col-xl-2.content-title.no-padding Security Event
        .col-10.content-hr.no-padding
            hr
    .row.no-gutters(style='margin-bottom:20px; display: none;')#securityEvent
        .col-12.no-gutters
            table#securityEventTable(style="width: 100%")
                thead
                    tr
                        th Event Date
                        th Event Type
                        th Device Type
                        th Device ID
                        th Message
    #addGatewayModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    .modal-title ADD GATEWAY
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-body-content#save-Gateway-form
                        p Gateway ID
                        input(type='text')#save-gateway-id
                        p Gateway Name
                        input(type='text')#save-gateway-name
                        p IP Address
                        input(type='text')#save-ipaddress
                        p Port
                        input(type='text')#save-port
                        p Connected
                        .radio-group#gateway-connected
                            label.radio-inline
                                input(type='radio', name='optradio' value=1)
                                | &nbsp;Connected
                            label.radio-inline(style="margin-left:12px")
                                input(type='radio', name='optradio' value=0)
                                | &nbsp;Not Connected
                .modal-footer
                    //button.modal-cancel(data-dismiss="modal") Cancel
                    .col-12.text-center.no-gutters
                        button.btn.btn-primary.btn-action.modal-btn#save-Gateway(data-dismiss="modal") Save Gateway
                        button.btn.btn-default.modal-btn(data-dismiss="modal") Cancel
    #addDeviceModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    .modal-title ADD DEVICE
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-body-content
                        .gateway_id Gateway ID
                        select#add-gateway-id
                        .entity-id Product ID
                        input(type="text" value="")#add-entity-id
                        .select-device-type Device type
                        select#add-type(onchange='autoWriteDeviceName("#add-type","#add-device-id","#add-device-name")')
                            option(value=0) select the device type
                            option(value=1) GasDetector
                            option(value=2) GasBreaker
                            option(value=3) ThermoHygrometer
                            option(value=4) SmartLighting
                            option(value=5) IntrusionDetector
                            option(value=6) DoorSensor
                            option(value=7) SmartPlug
                            option(value=8) SmartCamera
                        .device-id Device ID
                        input(type="text")#add-device-id(onchange='autoWriteDeviceName("#add-type","#add-device-id","#add-device-name")')
                        .device-name Device Name
                        input(type="text" value="")#add-device-name
                        .pre_shared_key Pre Shared Key
                        input(type="text" value="")#add-pre-shared-key
                        .object-id Object ID
                        input(type="text" value="")#add-object-id
                        .session-id Session ID
                        input(type="text" value="")#add-session-id
                        .connection Connection
                        .radio-group#add-connection
                            label.radio-inline
                                input(type='radio', name='optradio' value=1)
                                | &nbsp;Connected
                            label.radio-inline(style="margin-left:12px")
                                input(type='radio', name='optradio' value=0)
                                | &nbsp;Not Connected
                        .authentication Authentication
                        .radio-group#add-authentication
                            label.radio-inline
                                input(type='radio', name='optradio2' value=1)
                                | &nbsp;Authenticated
                            label.radio-inline(style="margin-left:12px")
                                input(type='radio', name='optradio2' value=0)
                                | &nbsp;Not Authenticated
                        .registered Registered
                        .radio-group#add-registered
                            label.radio-inline
                                input(type='radio', name='optradio3' value=1)
                                | &nbsp;Registered
                            label.radio-inline(style="margin-left:12px")
                                input(type='radio', name='optradio3' value=0)
                                | &nbsp;Not Registered
                .modal-footer
                    //button.modal-cancel(data-dismiss="modal") Cancel
                    .col-12.text-center.no-gutters
                        button.btn.btn-primary.btn-action.modal-btn#save-Device(data-dismiss="modal") Save Device
                        button.btn.btn-default.modal-btn(data-dismiss="modal") Cancel
    #modifyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    .modal-title MODIFY DEVICE
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-body-content.device-modify
                        input(type="hidden")#auth-id
                        p Gateway ID
                        select#device-gateway-id
                        p Product ID
                        input(type="text")#entity-id
                        p Device type
                        //id change type -> modi-device-type
                        select#modi-device-type(onchange='autoWriteDeviceName("#modi-device-type","#device-id","#device-name")')
                            option(value=1) GasDetector
                            option(value=2) GasBreaker
                            option(value=3) ThermoHygrometer
                            option(value=4) SmartLighting
                            option(value=5) IntrusionDetector
                            option(value=6) DoorSensor
                            option(value=7) SmartPlug
                            option(value=8) SmartCamera
                        p Device ID
                        input(type="text")#device-id(onchange='autoWriteDeviceName("#modi-device-type","#device-id","#device-name")')
                        p Device Name
                        input(type="text" value="")#device-name
                        p Pre Shared Key
                        input(type="text")#pre-shared-key
                        p Object ID
                        input(type="text")#object-id
                        p Session ID
                        input(type="text")#session-id
                        p Connected
                        .radio-group#connected
                            label.radio-inline
                                input(type='radio', name='moptradio1' value=1)#conn-on
                                | &nbsp;Connected
                            label.radio-inline(style="margin-left:12px")
                                input(type='radio', name='moptradio1' value=0)#conn-off
                                | &nbsp;Not Connected
                        p Authenticate
                        .radio-group#authenticate
                            label.radio-inline.radio-on
                                input(type='radio', name='moptradio2' value=1)#auth-on
                                | &nbsp;Authenticated
                            label.radio-inline(style="margin-left:12px").radio-off
                                input(type='radio', name='moptradio2' value=0)#auth-off
                                | &nbsp;Not Authenticated
                        p Registered
                        .radio-group#register
                            label.radio-inline.radio-on
                                input(type='radio', name='moptradio3' value=1)#regi-on
                                | &nbsp;Registered
                            label.radio-inline(style="margin-left:12px").radio-off
                                input(type='radio', name='moptradio3' value=0)#regi-off
                                | &nbsp;Not Registered
                    .modal-body-content.gateway-modify
                        p Gateway ID
                        input(type="number")#gateway-id
                        p Gateway Name
                        input(type="text" value="")#gateway-name
                        p IP
                        input(type="text")#gateway-ip
                        p Port
                        input(type="text")#gateway-port
                        p Connected
                        .radio-group#gateway-conn
                            label.radio-inline
                                input(type='radio', name='moptradio')#gateway-conn-on
                                | &nbsp;Connected
                            label.radio-inline(style="margin-left:12px")#gateway-conn-off
                                input(type='radio', name='moptradio')
                                | &nbsp;Not Connected
                    .modal-body-content.error-modify
                        p ERROR! There is no data.
                .modal-footer
                    //button.modal-cancel(data-dismiss="modal") Cancel
                    .col-12.text-center.no-gutters
                        button.btn.btn-primary.btn-action.modal-btn(data-dismiss="modal")#modi-button Update
                        button.btn.btn-default.modal-btn(data-dismiss="modal") Cancel
    #policyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    .modal-title Policy Deploy
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-body-content
                        p FromID
                        select#from-Id
                        p ToID
                        select#to-Id
                        p Resource Name
                        select#resource-Name()
                        p Policy
                        .form-check.form-check-inline
                            label.form-check-label
                                input.form-check-input#chkC(type='checkbox', value='C')
                                | Create
                        .form-check.form-check-inline
                            label.form-check-label
                                input.form-check-input#chkR(type='checkbox', value='R')
                                | Read
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input#chkU(type='checkbox', value='U')
                                | Update
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input#chkD(type='checkbox', value='D')
                                | Delete
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input#chkN(type='checkbox', value='N')
                                | Notify
                        p(style='margin-top:10px;') Policy Enforcement Point
                        label.radio-inline
                            input.policy-radio.radio-server(type='radio', name='optradio', value='Server')
                            | &nbsp;Server
                        label.radio-inline(style="margin-left:12px")
                            input.policy-radio(type='radio', name='optradio', value='Device')
                            | &nbsp;Device
                .modal-footer
                    .col-12.text-center.no-gutters
                        button.btn.btn-primary.btn-action.modal-btn#policy-confirm(data-dismiss="modal") Confirm
                        button.btn.btn-default.modal-btn(data-dismiss="modal") Cancel
    #deployLogModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    .modal-title Deploy Log
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-body-content
                        table#logTable.no-padding(style='width:100%')
                            thead
                                tr
                                    th enforce_date
                                    th from_id
                                    th to_id
                                    th resource_name
                                    th pre_operation
                                    th current_operation

            //.modal-footer
                    //button.modal-cancel(data-dismiss="modal") Cancel
                    .col-12.text-center.no-gutters
                        button.btn.btn-primary.btn-action.modal-btn(data-dismiss="modal") Delete
                        button.btn.btn-default.modal-btn(data-dismiss="modal") Cancel

    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    .modal-title Delete?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-body-content
                        span Do you want to Delete this?<br>
                        span#del-name
                .modal-footer
                    //button.modal-cancel(data-dismiss="modal") Cancel
                    .col-12.text-center.no-gutters
                        button.btn.btn-primary.btn-action.modal-btn#delete-User(data-dismiss="modal") Delete
                        button.btn.btn-default.modal-btn(data-dismiss="modal") Cancel

    //.col-12.no-padding
        input.btn.btn-primary.btn-action(type='button', value='Delete')#deleteButton
        input.btn.btn-primary.btn-action(type='button', value='Modify' data-target="#modifyModal" data-toggle="modal")#modifyButton
        input.btn.btn-primary.btn-action(type='button', value='Add' data-target="#policyModal" data-toggle="modal")#policyButton
    //table#dataTable.no-padding(style='width:100%;')
        thead
            tr
                th(scope='cols') Gateway ID
                th(scope='cols') Product ID
                th(scope='cols') Device ID
                th(scope='cols') Pre Shared Key
                th(scope='cols') Object ID
                th(scope='cols') Session ID
                th(scope='cols') Type
                th(scope='cols') Connected
                th(scope='cols') Authenticate
                th(scope='cols') Policy
    //#policyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    .modal-title Policy Deploy
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .modal-body-content
                        p FromID → ToID
                        input(type='text' readonly=true value='ThermoHygrometer_65934->MyIoTSVR')
                        p Resource Name
                        input(type='text' readonly=true value='ThermoHygrometer_65934')
                        p Policy
                        .form-check.form-check-inline
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Create
                        .form-check.form-check-inline
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Read
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Update
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Delete
                        .form-check.form-check-inline.disabled
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | Notification
                        p(style='margin-top:10px;') Policy Target
                        label.radio-inline
                            input(type='radio', name='optradio')
                            | Server
                        label.radio-inline
                            input(type='radio', name='optradio')
                            | Device
                .modal-footer
                    button.modal-cancel(data-dismiss="modal") Cancel
                    button.modal-confirm(data-dismiss="modal") Confirm
