doctype html

html(lang='en')
    head
        script(src='/plugin/jquery/dist/jquery.js' type='text/javascript')
        link(href='./css/index.css' rel='stylesheet')
        title SecureHome
        script(src='/plugin/socket.io/socketio.min.js' type='text/javascript')
        script(src='/javascript/index.js' type='text/javascript')


    body
        .title
            span
                img(src="/image/SIoTLogo.png")
            span.title1 SecureHome
            span.title2 ETRI SECURE GATEWAY SOLUTION
        .sign_in
            .sign_in_title
                .text SIGN IN
                .button Registration
            .sign_in_content
                img(src="/image/login.png")
                form(action='/api/login', method='post')
                    .id
                        input(type="text" name="username" placeholder="Email or Username")
                    .password
                        input(type="password" name="password" placeholder="Password")
                    .remember_me
                        input(type="checkbox")
                        span Remember me
                        span.alert #{error}
                    .submit
                        input(type="submit" value="Confirm")
        .company All rights reserved in Class Act Co., Ltd