doctype html5

html
    head
        script(src="/plugin/jquery/dist/jquery.js")
        script(rel='javascript/text' src="/plugin/bootstrap/dist/js/bootstrap.js")
        link(rel='stylesheet' href="/plugin/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/css/common.css")
        link(rel="stylesheet" href="/css/layout.css")
        script(src="/javascript/layout.js")
        title SecureHome
        block head
    body
        .container.no-padding
            .row.col-12.title-bar.no-padding
                .col-2.title-logo.no-padding
                    img(src="/image/etriLogo.png")
                .col-7.no-padding
                .row.col-3.text-left.login-bar
                    img(src="/image/login.png").login
                    div
                        .col-.auth Admin
                        .col-.name Hong Gildong
                    button.btn.logout Log out
        .row.col-12.menu-bar
            .container.no-padding
                .row
                    .col-6.menu-logo.no-padding
                        .row
                            img(src="/image/SIoTLogo.png")
                            div Secure Smart Space
                    .row.col-6.text-right.menu-text
                            .dashboard
                                p Dashboard
                            .gateway
                                p Gateway
                            .iotdevices
                                p Devices
                            .security
                                p Security
                            .account
                                p Account
                            .logger
                                p Logger
        .container.no-padding
            .col-12.content
                .row.col-12.content-head
                    .col-2.no-padding
                        block title
                    .col-10.content-hr.no-padding
                        hr
                block content





