extends layout

append head
    link(rel='stylesheet', type='text/css', href='/plugin/datatables-1.10.16/css/dataTables.css')
    script(type='text/javascript', src='/plugin/datatables-1.10.16/js/datatables.js')
    script(type='text/javascript', src='/plugin/datatables-1.10.16/js/datatables.bootstrap4.js')
    script(src='/javascript/logger.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
    link(rel='stylesheet', type='text/css', href='/css/common.css')
    script(src='/plugin/datepicker/combined/js/gijgo.js')
    link(rel='stylesheet', type='text/css', href='/plugin/datepicker/combined/css/gijgo.css')
    link(rel='stylesheet', type='text/css', href='/css/logger.css')

append title
    span.col-xl-2.content-title.no-padding Logger

block content
    .row
        .col
        .col
        .col
            input#datepicker(placeholder="Select Date")
        .col
        .col
    .chart
        canvas#myChart