extends layout

append head
    link(rel='stylesheet', type='text/css', href='/plugin/datatables-1.10.16/css/dataTables.css')
    script(type='text/javascript', src='/plugin/datatables-1.10.16/js/datatables.js')
    script(type='text/javascript', src='/plugin/datatables-1.10.16/js/datatables.bootstrap4.js')
    script(src='/javascript/security.js')
    link(rel='stylesheet', type='text/css', href='/css/security.css')

    script(type='text/javascript', charset='utf-8').

append title
    span.col-xl-2.content-title Security

block content
    .col-12.no-padding
        input.btn.btn-primary(type='button', value='Delete')#deleteButton
        input.btn.btn-primary(type='button', value='Policy', onclick="deleteRow('dataTable')")
    table#dataTable.table.table-striped.no-padding(style='width:100%')
        thead
            tr
                th Gateway ID
                th Product ID
                th Device ID
                th Type
                th Authenticate
                th Policy
        tbody
            tr
                td 1
                td 12965934
                td 65934
                td GasDetector
                td Not Auth
                td Non
            tr
                td 1
                td 12965935
                td 65935
                td GasDetector
                td Auth
                td CRUD
            tr
                td 2
                td 12965937
                td 65936
                td SmartLighting
                td Auth
                td CDN
            tr
                td 2
                td 12965937
                td 65936
                td SmartLighting
                td Auth
                td CDN
            tr
                td 2
                td 12965937
                td 65936
                td SmartLighting
                td Auth
                td CDN
            tr
                td 2
                td 12965937
                td 65936
                td SmartLighting
                td Auth
                td CDN
            tr
                td 2
                td 12965937
                td 65936
                td SmartLighting
                td Auth
                td CDN
            tr
                td 3
                td 12965944
                td 65955
                td SmartLighting
                td Auth
                td Non
